@(emailvariable: List[dto.EmailVariable])
@import views.html.helper._
@views.html.manager.main {
	@helper.javascriptRouter("email_variable")(
		controllers.manager.routes.javascript.EmailTemplateVariable.deleteEmailVariable,
		controllers.manager.routes.javascript.EmailTemplateVariable.eiditEmailVariable,
		controllers.manager.routes.javascript.EmailTemplateVariable.addEmailVariable,
		controllers.manager.routes.javascript.EmailTemplate.getAllEmailTemplateTypes
    )
    
	<h3 class="page-title">
		邮件模板变量管理 <small></small>
	</h3>
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> <a href="/sysadmin">@Messages("home")</a><i class="icon-angle-right"></i></li>
		<li>
			<a href="@controllers.manager.routes.EmailTemplate.manageEmailTemplate()">邮件模板管理</a><i class="icon-angle-right"></i>
			<a href="@controllers.manager.routes.EmailTemplateVariable.manageEmailVariable()">邮件模板变量管理</a>
		</li>
	</ul>	

	<div class="btn-group">
		<button id="email_variable_manager_table_new" class="btn green">
			新增变量 <i class="icon-plus"></i>
		</button>
	</div>
	<table class="table table-striped table-hover table-bordered"	id="email_variable_manager_table">
		<thead>
			<tr>
				<th>变量编号</th>
				<th>变量所属类型</th>
				<th>变量名称</th>
				<th>变量备注</th>
				<th>创建人</th>
				<th>创建时间</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@if(null != emailvariable && emailvariable.size()>0){
				@emailvariable.map{a=>
					<tr class="variable-tr" id="@a.getIid()" title="@a.getCname()">
						<td>@a.getIid()</td>
						<td>@a.getCtype()</td>
						<td class="center">@a.getCname()</td>
						<td class="center">@a.getCremark()</td>
						<td class="center">@a.getCcreateuser()</td>
						<td class="center">@a.getDate()</td>
						<td><a class="edit" href="javascript:;">Edit</a></td>
						<td><a class="delete" href="javascript:;">Delete</a></td>
					</tr>
				}
			}
		</tbody>
	</table>
	@services.base.HtmlUtils.misc().addTailOnce{
		<script type="text/javascript" src='@controllers.manager.routes.Assets.at("js/manager/emailvariable.js")'></script>
		<script>
			loadTables('');
		</script>
	} 
}
