@(banners:List[dto.Banner])

<div class="indexBanner_box" id="indexBanner_box">
@if(banners!=null && banners.size()>0){
    <a class="browseLeft_click" href="javascript:;"></a>
    <a class="browseRight_click" href="javascript:;"></a>
    <ul class="indexBanner_A">
    	@banners.map{ b=>
    	        @if(b.getBhasbgimage){
    	        	<li style="background-image:url(@controllers.base.routes.Banner.bgimg(b.getIid)) ; @if(b.getBbgimgtile){ background-repeat: repeat-x;}else{background-repeat: no-repeat;} background-color:@(b.getCbgcolor);"><a href="@b.getCurl()"><img src="@controllers.base.routes.Banner.at(b.getIid)"></a></li>
    	        }else{
    	        	<li style="background-color:@(b.getCbgcolor);"><a href="@b.getCurl()"><img src="@controllers.base.routes.Banner.at(b.getIid)"></a></li>
    	        }
    	     
        }
    </ul>
    <ul class="indexBanner_list">
    @for(i <- 1 to banners.size()){
       @if(i==1){
    	<li class="listActive"></li>
    	}else{
    	<li></li>
    	}
    }
    </ul>
}
</div>


