<ul class="hotColumns">
<!-- 功能善未完成，先隐藏
  	<ol>@Messages("hot.columns")</ol>
		<li><a href="javascript:;"><img src="@controllers.base.routes.Assets.at("images/1/ColumnsIcon01.jpg")"></a></li>
		<li><a href="javascript:;"><img src="@controllers.base.routes.Assets.at("images/1/ColumnsIcon02.jpg")"></a></li>
		<li><a href="javascript:;"><img src="@controllers.base.routes.Assets.at("images/1/ColumnsIcon03.jpg")"></a></li>
		<li><a href="javascript:;"><img src="@controllers.base.routes.Assets.at("images/1/ColumnsIcon04.jpg")"></a></li>
-->
</ul>