@(frm: Form[forms.manager.login.LoginForm])
@import views.html.helper._
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>

<meta charset="utf-8" />

<title>Tomtop | Login Page</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta content="" name="description" />

<meta content="" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="@controllers.manager.routes.Assets.at("css/manager/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/style-metro.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/style.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/style-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@controllers.manager.routes.Assets.at("css/manager/default.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@controllers.manager.routes.Assets.at("css/manager/uniform.default.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL STYLES -->

<link href="@controllers.manager.routes.Assets.at("css/manager/login.css")" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL STYLES -->

<link rel="shortcut icon" href="@controllers.manager.routes.Assets.at("image/favicon.ico")" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->
	<div class="navbar-inner">
		<img src="@controllers.manager.routes.Assets.at("image/logo-big.png")" alt="" />
    </div>
	

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->

		@form(controllers.manager.routes.Login.login,'class->"form-vertical login-form") {

			<div class="alert alert-error hide">

				<button class="close" data-dismiss="alert"></button>

				<span>Enter any username and password.</span>

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">Username</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i> 
						@inputText(frm("username"),'class->"m-wrap placeholder-no-fix",'placeholder->"username")

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">Password</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i> 
						@inputPassword(frm("password"),'class->"m-wrap placeholder-no-fix",'placeholder->"password")

					</div>

				</div>

			</div>

			<div class="form-actions">
				<button type="submit" class="btn green pull-right">

					Login <i class="m-icon-swapright m-icon-white"></i>

				</button>

			</div>

		}

		<!-- END LOGIN FORM -->
		

		<!-- BEGIN REGISTRATION FORM -->


		<!-- END REGISTRATION FORM -->

	</div>

	<!-- END LOGIN -->

	<!-- BEGIN COPYRIGHT -->

	<div class="copyright">Copyright &copy; 2004- 2015 TOMTOP. All Rights Reserved.</div>

	<!-- END COPYRIGHT -->

</body>

<!-- END BODY -->

</html>