@(email:String,
	info:entity.tracking.AffiliateInfo)
@helper.javascriptRouter("theRoutes")(
	controllers.base.routes.javascript.Captcha.checkCaptcha
)
@views.html.member.base.master("affiliate-setting"){
@services.base.HtmlUtils.misc().addHeadOnce{
 	  <link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/styles.css")?@version.BuildVersion.build()" />
}
@if(info!=null){
<div class="accountRight affilliate_Boxs affiliateBox">
    <h5>Setting</h5>
    <form action="" id="theform">
    <input type="hidden" name="iid" value="@info.getIid()" />
    <table class="settingTable" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Email:</td>
        <td>@email</td>
      </tr>
      <tr>
        <td>Affiliate ID:</td>
        <td>@info.getCaid()</td>
      </tr>
      
      <tr>
        <td>Paypal Email:</td>
        <td><input name="cpaypalemail" value="@info.getCpaypalemail()" class="affilliate_inputTxt" type="text" /></td>
      </tr>
      <tr>
        <td>Receive notification emails:</td>
        <td>
        	<select name="breceivenotification" class="select_affYes">
            	<option value="1">Yes</option>
            	<option value="0" @if(info.getBreceivenotification()==false){selected="selected"}>No</option>
            </select>
        </td>
      </tr>
      <tr>
        <td>Word Verification:</td>
        <td class="captchatd">
         <input name="captcha" id="captcha" type="text" class="code affilliate_inputYzm" />
         <div class="lineBlock">
         	<img class="captcha" src="@controllers.base.routes.Captcha.generate()" onclick="this.src='@controllers.base.routes.Captcha.generate()?r='+Math.random();" style="cursor:pointer;" title="change" width="70" height="30" />
         </div> 
         <!-- <p class="error_s lineBlock">.............</p> -->
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><a class="lineBlock hsInputs" href="javascript:;" onclick="submitform()">Save</a></td>
      </tr>
    </table>
    </form>
</div>
}
@services.base.HtmlUtils.misc().addTailOnce{
<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("lib/jquery-validation/jquery.validate.min.js")'></script>
<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("js/lib/jquery.metadata.js")'></script>
<script type="text/javascript">
function submitform(){
	if($("#theform").valid()){
		tijiao();
	}
}
$(document).ready(function() {
	$("#theform").validate({
		submitHandler : function(form) {
		},
		rules : {
			cpaypalemail : {
				required : true,
				email : true
			},
			captcha:{
				required : true,
				maxlength:5,
				remote:{
		               type:"post",
		               dataType:'json',
		               url:theRoutes.controllers.base.Captcha.checkCaptcha().url,
		               data:{
		            	   captcha:function(){
		            		   return $("#captcha").val();
		            		   }
		            	   }
		               } 
			}
		},
		messages: {
			cpaypalemail : {
				required: "This field is required!",
				maxlength:"Please enter a valid email address!"
			} ,
			captcha:{
				required : "captcha is require!",
				maxlength:jQuery.validator.format("Please enter no more than {0} characters!"),
				remote:"please check your captcha!"
			}
		},
		//错误提示
		errorClass: "error_s lineBlock", 
		errorElement: "p",
		highlight: function (element) { 
			$(element).removeClass("error_s");
	     },
		errorPlacement: function(error, element) {
			var el = $(element);
			el.parent().find(".rightUse").remove();
			if(el.attr("name")=="captcha"){
				el.next().after(error);
			}else{
				el.after(error);
			}
			$(".elsetip").remove();
		 },
		 success: function (e,element) {
			 var el = $(element);
			 if(el.parent().find(".rightUse").length==0){
				if(el.attr("name")=="captcha"){
					el.next().after('<span class="rightUse"></span>'); 
				}else{
					el.after('<span class="rightUse"></span>'); 
				}
			 }
			 $(e).removeClass("error_s");
			 $(".elsetip").remove();
	     }
	 });
});

function tijiao(){
	var form = $("#theform");
	$.ajax({
		url : "@controllers.affiliate.routes.AffiliateHome.updateInfo()",
		type : "POST",
		data: form.serialize(),
		dataType : "json",
		async : true,
		success : function(data) {
			if (data.result == "success") {
				alert("success!");
				$("#captcha").val("");
				changeCaptcha($(".captchatd:eq(0)")[0]);
			}else if(data.result == "wrongcaptcha"){
				form.find(".captchatd .rightUse").remove();
				form.find(".captchatd:eq(0)").append('<p class="error_s lineBlock elsetip">please check your captcha!</p>');
			}else{
				alert(data.result);
			}
		},
		complete : function() {
		}
	});
}
</script>
}
}
