body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:228px;
  width:800px;
  height:288px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:288px;
}
#u1 {
  position:absolute;
  left:2px;
  top:136px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:275px;
  width:120px;
  height:16px;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:306px;
  width:100px;
  height:20px;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:290px;
  top:304px;
  width:340px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:140px;
  top:348px;
  width:140px;
  height:20px;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:290px;
  top:343px;
  width:340px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:60px;
  top:382px;
  width:220px;
  height:16px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:238px;
  width:210px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:720px;
  top:480px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:600px;
  top:480px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:290px;
  top:238px;
  width:80px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:290px;
  top:269px;
  width:340px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:290px;
  top:378px;
  width:340px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:290px;
  top:326px;
  width:340px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:290px;
  top:413px;
  width:340px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:140px;
  top:413px;
  width:140px;
  height:20px;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
