body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:810px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:94px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:40px;
  width:200px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:54px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:270px;
  top:60px;
  width:120px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:410px;
  top:60px;
  width:110px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:570px;
  top:15px;
  width:260px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:264px;
  height:39px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:561px;
  top:50px;
  width:279px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:642px;
  top:26px;
  width:48px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:52px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:720px;
  top:26px;
  width:70px;
  height:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:106px;
  width:800px;
  height:30px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:113px;
  width:140px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:50px;
  top:196px;
  width:350px;
  height:418px;
}
#u21_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:354px;
  height:422px;
}
#u22 {
  position:absolute;
  left:2px;
  top:201px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:420px;
  top:196px;
  width:210px;
  height:204px;
}
#u23_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u24 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:640px;
  top:196px;
  width:210px;
  height:204px;
}
#u25_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u26 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:420px;
  top:410px;
  width:210px;
  height:204px;
}
#u27_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u28 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:640px;
  top:410px;
  width:210px;
  height:204px;
}
#u29_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u30 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:210px;
  width:330px;
  height:270px;
}
#u31_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:334px;
  height:274px;
}
#u32 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:60px;
  top:210px;
  width:111px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:509px;
  width:330px;
  height:70px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
}
#u36 {
  position:absolute;
  left:2px;
  top:27px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:430px;
  top:210px;
  width:130px;
  height:170px;
}
#u37_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:134px;
  height:174px;
}
#u38 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:567px;
  top:218px;
  width:60px;
  height:162px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:162px;
}
#u40 {
  position:absolute;
  left:2px;
  top:73px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:386px;
  top:631px;
  width:84px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:88px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:358px;
  top:153px;
  width:84px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:88px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:280px;
  top:663px;
  width:350px;
  height:418px;
}
#u45_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:354px;
  height:422px;
}
#u46 {
  position:absolute;
  left:2px;
  top:201px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:50px;
  top:663px;
  width:210px;
  height:204px;
}
#u47_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u48 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:650px;
  top:663px;
  width:210px;
  height:204px;
}
#u49_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u50 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:50px;
  top:877px;
  width:210px;
  height:204px;
}
#u51_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u52 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:650px;
  top:877px;
  width:210px;
  height:204px;
}
#u53_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u54 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:290px;
  top:677px;
  width:330px;
  height:270px;
}
#u55_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:334px;
  height:274px;
}
#u56 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:290px;
  top:677px;
  width:111px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:290px;
  top:975px;
  width:330px;
  height:70px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:60px;
  top:677px;
  width:130px;
  height:170px;
}
#u61_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:134px;
  height:174px;
}
#u62 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:190px;
  top:681px;
  width:60px;
  height:162px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:162px;
}
#u64 {
  position:absolute;
  left:2px;
  top:73px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:386px;
  top:1097px;
  width:84px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:88px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:510px;
  top:1126px;
  width:350px;
  height:418px;
}
#u67_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:354px;
  height:422px;
}
#u68 {
  position:absolute;
  left:2px;
  top:201px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:50px;
  top:1126px;
  width:210px;
  height:204px;
}
#u69_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u70 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:270px;
  top:1126px;
  width:210px;
  height:204px;
}
#u71_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u72 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:50px;
  top:1340px;
  width:210px;
  height:204px;
}
#u73_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u74 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:270px;
  top:1340px;
  width:210px;
  height:204px;
}
#u75_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:208px;
}
#u76 {
  position:absolute;
  left:2px;
  top:94px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:520px;
  top:1140px;
  width:330px;
  height:270px;
}
#u77_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:334px;
  height:274px;
}
#u78 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:520px;
  top:1140px;
  width:111px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:520px;
  top:1430px;
  width:330px;
  height:70px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
}
#u82 {
  position:absolute;
  left:2px;
  top:27px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:60px;
  top:1140px;
  width:130px;
  height:170px;
}
#u83_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:134px;
  height:174px;
}
#u84 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:197px;
  top:1148px;
  width:60px;
  height:162px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:162px;
}
#u86 {
  position:absolute;
  left:2px;
  top:73px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:50px;
  top:1560px;
  width:800px;
  height:211px;
}
#u88_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:215px;
}
#u89 {
  position:absolute;
  left:2px;
  top:98px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:50px;
  top:1741px;
  width:800px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:34px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:796px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:71px;
  top:1580px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:196px;
  top:1580px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:460px;
  top:1580px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:602px;
  top:1580px;
  width:236px;
  height:130px;
}
#u98_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:240px;
  height:134px;
}
#u99 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:71px;
  top:1617px;
  width:115px;
  height:15px;
  font-size:12px;
}
#u100_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:119px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:71px;
  top:1642px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u102_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:71px;
  top:1667px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u104_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:72px;
  top:1692px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u106_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:196px;
  top:1617px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u108_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:196px;
  top:1642px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u110_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:322px;
  top:1617px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u112_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:460px;
  top:1617px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u114_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:460px;
  top:1642px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u116_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:460px;
  top:1667px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u118_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:460px;
  top:1692px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u120_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:619px;
  top:1584px;
  width:147px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:619px;
  top:1600px;
  width:200px;
  height:22px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u124_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:28px;
}
#u124_input:disabled {
  color:grayText;
}
#u125 {
  position:absolute;
  left:796px;
  top:1627px;
  width:54px;
  height:63px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:63px;
}
#u126 {
  position:absolute;
  left:2px;
  top:24px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:619px;
  top:1645px;
  width:58px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:619px;
  top:1661px;
  width:176px;
  height:48px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:48px;
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:322px;
  top:1580px;
  width:108px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:142px;
  top:158px;
  width:200px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
#u134 {
  position:absolute;
  left:470px;
  top:158px;
  width:200px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
#u135 {
  position:absolute;
  left:150px;
  top:636px;
  width:200px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
#u136 {
  position:absolute;
  left:510px;
  top:636px;
  width:200px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
#u137 {
  position:absolute;
  left:160px;
  top:1102px;
  width:200px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
#u138 {
  position:absolute;
  left:510px;
  top:1102px;
  width:200px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  height:6px;
}
