<span class="payFors">@Messages("pay.for")</span>
<img src=" @controllers.payment.impl.routes.Assets.at("/images/PayPal04.jpg")" />
<p>@Messages("select.country.your.bank.account")</p>
<p>
	@Messages("beneficiary.bank"): HSBC HongKong<br>
	@Messages("bank.account") 808 402 127 838<br>
	@Messages("beneficiary"): HONGKONG TOMTOP LIMITED<br>
	@Messages("uswift.code"): HSBCHKHH<br>
	@Messages("bank.address"): 6F, HSBC Main Building 1# queen's Road Central, Hong Kong<br>
</p>
<p>
@Messages("note"):<br>
1.  @Messages("international.transfers.responsible.responsible.transferred")<br>

2. @Messages("payment.hsbc.account.described.allow.paymen.through")<br>
1) @Messages("working.banks.complete.transaction.depending.banks")<br>
2) @Messages("working.process.payment.match.order")<br>
3) @Messages("receive.email.confirm.process.order")<br>

</p>
<input class="spayOut" type="button" value="Pay Now" tag="submit_button">