@(imgUrl: String, imgTitle: String, width: Integer, height: Integer, clazz: String, args: (Symbol,Any)*)
@mainsite = @{play.Play.application().configuration().getString("main_website")}
@if(imgUrl != null) {
@if(imgUrl.startsWith("http://") || imgUrl.startsWith("https://")) {
  @if(width != null && height != null) {
	 <img itemprop="image" @if(imgTitle != null){title="@imgTitle" alt="@imgTitle"} src="@imgUrl" @if(clazz != null){class="@clazz"} 
	 	@toHtmlArgs(args.filter(arg => arg._1.name != "width" && arg._1.name != "height").toMap)>
  } else {
	 <img  itemprop="image" @if(imgTitle != null){title="@imgTitle" alt="@imgTitle"} src="@imgUrl" @if(clazz != null){class="@clazz"} @toHtmlArgs(args.toMap)>
  }
}else{
  @if(width != null && height != null) {
	 <img itemprop="image" @if(imgTitle != null){title="@imgTitle" alt="@imgTitle"} src="@mainsite/imgxy/@width/@height/@imgUrl" @if(clazz != null){class="@clazz"} @toHtmlArgs(args.toMap)>
  } else {
	 <img itemprop="image" @if(imgTitle != null){title="@imgTitle" alt="@imgTitle"} src="@mainsite/img/@imgUrl" @if(clazz != null){class="@clazz"} @toHtmlArgs(args.toMap)>
  }
}
} else {
	<img src="@controllers.base.routes.Assets.at("images/imgNone377.jpg")" />
}