@(adminUser:dto.AdminUser,
roleIds: List[Integer],
websties: List[dto.Website],
websiteIds: List[Integer])

@adminRoleList = @{services.manager.AdminRoleService.getInstance().getAllAdminRole()}

@if(adminUser!=null){
<input type="hidden" value="@adminUser.getIid()" name="iid" />
<div class="control-group">

	<label class="control-label">姓名</label>

	<div class="controls">

		<input type="text" value="@adminUser.getCusername()" name="cusername" placeholder="姓名" class="m-wrap medium span6" readonly="readonly">

	</div>

</div>

<div class="control-group">

	<label class="control-label">工号</label>

	<div class="controls">

		<input type="text" value="@adminUser.getCjobnumber()" name="cjobnumber" placeholder="工号" class="m-wrap medium span6"  readonly="readonly">

	</div>

</div>

<div class="control-group">

	<label class="control-label">邮箱</label>

	<div class="controls">

		<input type="text" value="@adminUser.getCemail()" name="cemail" placeholder="邮箱" class="m-wrap medium span6">
	</div>

</div>		
<div class="control-group">

	<label class="control-label">电话</label>

	<div class="controls">

		<input type="text" value="@adminUser.getCphone()" name="cphone" placeholder="电话" class="m-wrap medium span6">
	</div>

</div>	


<div class="control-group">
	<label class="control-label">用户角色<span class="required">*</span></label>
	<div class="controls">
		@views.html.manager.role.role_checklist("iadminroleid",adminRoleList, roleIds)
	</div>
</div>

<div class="control-group">
	<label class="control-label">站点权限<span class="required">*</span></label>
	<div class="controls">
		@views.html.manager.base.website_checkbox("iwebsiteids",websties,websiteIds)
	</div>
</div>
}