@(topic:entity.manager.ProfessionSkillTopic,
	skillList:List[entity.manager.ProfessionSkill])

<input type="hidden" name="iid" value="@topic.getIid">
<div class="control-group">
	<label class="control-label">技能:</label>
	<div class="controls">
		<select name="iskillid">
			@skillList.map{s=>
				<option value="@s.getIid" @if(topic.getIid.equals(s.getIid)){selected="selected"}>@s.getCskillname</option>
			}
		</select>
	</div>
</div>
<div class="control-group">
	<label class="control-label">语言:</label>
	@services.manager.ChooseService.getInstance().language("ilanguageid", topic.getIlanguageid)
</div>
<div class="control-group">
	<label class="control-label">标题:</label>
	<div class="controls">
		<input name="ctitle" type="text" value="@topic.getCtitle">
	</div>
</div>
<div class="control-group">
	<label class="control-label">描述:</label>
	<div class="controls">
		<input name="cdescription" type="text" value="@topic.getCdescription">
	</div>
</div>
<div class="control-group">
	<label class="control-label">可用:</label>
	@services.manager.ChooseService.getInstance().yesOrNo("benable", topic.getBenable)
</div>