@(lasturl: String)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>404 error</title>
</head>
<body>
<div class="container error404" style="width:300px;height:100px;margin:0 auto;">
    <div class="Bread_crumbs_Box">
        <h2>404 error</h2>
    </div>
    <div class="errorPage">
    	<div class="errorTxt">
        	page requested can not found.
        </div>
        <div>
        (1.5-2015092318)
        </div>
    </div>
</div>
</body>
</html>
