@(items:valueobjects.order_api.OrderItems,
	order:dto.order.Order,
	currency:dto.Currency) 
@import services.base._
@import services.base.utils._
<h6>@Messages("product.list")</h6>
<table class="detailesTab" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th class="itemTH">@Messages("item")</th>
		<th class="descriptionTH">@Messages("description")</th>
		<th class="priceTH">@Messages("price")</th>
		<th class="quanTH">@Messages("qualitys")</th>
		<th class="totalTH">@Messages("utotal")</th>
	</tr>
	<tr>
		<td colspan="5">
		@views.html.order.order_view_list(items.getList,currency)
			<div class="totalPrice">
				<p>
					@Messages("order.subtotal") <span>@currency.getCsymbol @Utils.money(order.getFordersubtotal,currency.getCcode())</span>
				</p>
			</div>
		</td>
	</tr>
</table>