@(addresses: valueobjects.order_api.Address,
	theurl:String,
	theurl2: String)
@import views.html.helper._
@helper.javascriptRouter("js_ShippingAddressRoutes")(
	controllers.member.routes.javascript.Address.getAllCountry,
	controllers.member.routes.javascript.Address.getAllProvinceByCountryId,
	controllers.member.routes.javascript.Address.deleteMemberAddressById,
	controllers.member.routes.javascript.Address.setDefaultShippingaddress,
	controllers.order.routes.javascript.ShippingAddress.addNewShippingAddress,
	controllers.order.routes.javascript.ShippingAddress.modifyShippingAddress,
	controllers.order.routes.javascript.ShippingAddress.refreshShippingMethod,
	controllers.order.routes.javascript.ShippingAddress.refreshByOrder
)
<h6>@Messages("shipping.address")</h6>
   <input type="hidden" id="hidden_radio_value" name="hidden_radio_value" @if(null != addresses && addresses.getMemberAddresses.size() > 0 && null != addresses.getDefaultAddress) { value="@addresses.getDefaultAddress.getIid"} else {value=""}>
   <table class="shippingAs" width="100%" border="0" cellspacing="0" cellpadding="0" id="shipping_address_table">
   
	@if(null != addresses && addresses.getMemberAddresses.size() > 0) {  
		@addresses.getMemberAddresses.map { i => 
		      @views.html.member.address.shipping_address_table_tr(i,addresses.getCountryMap,addresses.getAllCountries,theurl)
		}
	}
    <tr id="new_address_tr">
       <td colspan="6" class="newAdds">
       	<a class="addsClick" href="javascript:;">+ @Messages("enter.new.shipping.address")</a>
           <div class="edit_box">
           	<p>+ @Messages("enter.new.shipping.address")</p>
               <div class="clear"></div>
          	   @views.html.member.address.add_new_shipping_address_form.render(addresses.getAllCountries,theurl2) 
           </div>
           <!-- <div class="bulkrate bulkHover">
               <span></span>@Messages("drop.shipping.order")<em></em>
               <p class="bulk_hover"><em></em>@Messages("remove.tomtop.logo.from.package")</p>
           </div> -->
       </td>
     </tr>
</table>