<div class="scroll relative">
	<div class="scroll_box" id="scroll_img">
		<ul class="scroll_wrap">
	      <li><a href="#"><img src='@controllers.base.routes.Assets.at("images/home_banner01.jpg")' width="100%" /></a></li>
	      <li><a href="#"><img src='@controllers.base.routes.Assets.at("images/home_banner02.jpg")' width="100%" /></a></li>
	      <li><a href="#"><img src='@controllers.base.routes.Assets.at("images/home_banner03.jpg")' width="100%" /></a></li>
		</ul>
	</div>
  	<ul class="lbBox scroll_position" id='scroll_position'>
  	</ul>
</div>