@()

@onemenus = @{services.base.cms.CmsMenuServiceMobile.getInstance().getOneFootCmsMenu(context.ContextUtils.getWebContext(play.mvc.Http.Context.current()))}

<div class="container">
	<div class="bottom">
		<ul class="bottom_ul lbBox">
         @onemenus.map{r=>
			<li class="lineBlock"><a href="@controllers.base.routes.Cms.getCmsContentByMenuId(r.getIid())" rel="nofollow">@r.getCname()</a></li>
       	 }
       	</ul>
		<p class="bottom_p">© 2004 - 2015 TOMTOP com. All rights reserved(Build: @version.BuildVersion.build())</p>
	</div>
</div>