  
@views.html.base.master{

<div class="container login_page">
	<h3>@Messages("forgot.password.back")</h3>
    <div class="passwordReset">
    	<div class="passwordSent">
        	<p>@Messages("to.retrieve.your.password.please.enter.your.email.address")</p>
            
            @form(controllers.member.routes.FindPassword.findPassword,'class->"e_form",'id->"pform",'autocomplete->"off") {
                @Messages("email.address")
                <input id="email" class="e_Address" name="email" type="text">
	             <input id="sendSubmit" class="sentInp" type="submit" value="@Messages("sent")">
           }
           <br/><br/>
        </div>
    	<div class="passwordHide">
            <hr>
        </div>
    </div>
</div>

		             @services.base.HtmlUtils.misc().addHeadOnce{
 	  					<link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/login.css")?@version.BuildVersion.build()" /> 
				     }

					@services.base.HtmlUtils.misc().addTailOnce{
				 			<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("lib/jquery-validation/jquery.validate.min.js")'></script>
							<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("js/lib/jquery.metadata.js")'></script>
				     		 <script  language="javascript" type="text/javascript" src='@controllers.member.routes.Assets.at("js/member/findPasswordValidation.js")'></script>
			     		 }
}
@import views.html.helper._
		@helper.javascriptRouter("js_emailRoutes")(
			controllers.member.routes.javascript.Register.checkEmail
		)