@(
token : String,
PayerID : String,
orderNum : String,
address : dto.member.MemberAddress,
shipToCountry : String,
shipToCountryCode : String,
oc : valueobjects.order_api.ExistingOrderComposite,
renderHelper : services.order.OrderCompositeRenderer,
order : dto.order.Order,
countrys : List[dto.Country],
isMember : Boolean,
currency : dto.Currency)

@import services.base.utils._

@views.html.cart.v2.checkout_new_member(3){
		
<!--头部结.p束-->

<div class="newshopping_box">
    <div class="newshopping_box_left">
<!--新购物车流程内容-->
        <div class="newshopping_address">
            <h2>@Messages("order.confirm.view.shippingAddress")</h2>
            <ul class="ns_address_list">
                <li class="sel default">
                    <h5>
	                    <span id="shipToFirstName">@address.getCfirstname</span>&nbsp;
	                    <span id="shipToLastName">@address.getClastname</span>
                     </h5>
                    <p>
	                    <span id="shipToStreet1">@address.getCstreetaddress</span>
	                    <!-- <span id="shipToStreet2"></span> -->
                    </p>
                    <p>
	                    <span id="shipToCity">@address.getCcity</span>
	                    <span id="shipToState">@address.getCprovince</span>
	                    <span id="shipToZipCode">@address.getCpostalcode</span>  
                    </p>
                    <p id="shipToCountry">@shipToCountry</p>
                    <p id="shipToTel">@address.getCtelephone</p>
                   <div class="address_default_edit"><a id="shipAddressEdit" class="a_edit" style="display: inline-block;">Edit</a></div>

                </li>
                @if(isMember){
                <li id="ship_to_new_address" class="add_item">
                    <div>
                        <p><span></span></p>
                        <p>@Messages("checkout_step2.shipto")</p>
                    </div>

                </li>
                }
                
            </ul>
        </div>
        <div id="shipMethod" class="newshopping_address orderD_con">
            
        </div>
        
        
        @renderHelper.renderFragment(oc, "cart-product")
      
        
        
       
        <div class="newshopping_message">
            <p>@Messages("checkout_step2.leaveMessage")</p>
            <textarea id="leaveMessage" placeholder="@Messages("checkout_step2.writeAnything")"></textarea>
        </div>
    </div>
    <div class="newshopping_box_right">
        <dl>
            <dt>@Messages("order.confirm.view.summary")</dt>
            <dd>@Messages("order.confirm.view.subtotal"):<span id="subtotal">@Utils.money(order.getFordersubtotal,currency.getCcode)</span> <span> @currency.getCsymbol &nbsp;</span></dd>
            <dd>@Messages("order.confirm.view.shippingCost"):<span id="shipCost">@Utils.money(0.00,currency.getCcode)</span><span> @currency.getCsymbol &nbsp;</span></dd>
            <dd>@Messages("checkout_step2.Discount"):<span> @currency.getCsymbol @Utils.money(order.getFextra,currency.getCcode)</span></dd>
            <dd>@Messages("total")<span class="total"><span> @currency.getCsymbol &nbsp;</span><span id="grandTotal" total="@Utils.money(order.getFgrandtotal,currency.getCcode)">@Utils.money(order.getFgrandtotal,currency.getCcode)</span></span></dd>
        </dl>
        @*
        <div class="have_code">
            <p>@Messages("order.confirm.view.promo")?</p>
            <div class="have_code_input"><input type="text"/><input type="submit" value="@Messages("checkout_step2.Apply")"/></div>
        </div>
        *@
        <div class="nw_place_box"><input id="placeYourOrder" type="button" value="@Messages("place.your.order")" class="nw_btn_place"/></div>
        <div class="nw_guaranteed">
            <p>@Messages("order.confirm.view.secure")</p>
            <p>
            <a href="javascript:vrsn_splash()" tabindex="-1">
	       		<img name="seal" border="true" src="@controllers.base.routes.Assets.at("nortonseal/nortonseal3.gif")" oncontextmenu="return false;" alt="@Messages("checkout_step2.verify")">
	       	</a>
        </div>
    </div>
</div>

<!--地址弹出层-->
<form id="ship_to_new_address_form" action="">
<div class="blockPopup_box" id="pop_address" style="display: none;">
    <div class="newshopping_address_pop">
        <h2>@Messages("checkout_step.title")</h2>
        <ul class="newshopping_address_input">
            <li>
                <div class="address_input_item left">
                    <h5>@Messages("checkout_step.name")<i>*</i></h5>
                    <input name="firstName" type="text"/>
                    <label style="display:none;"><p style="color:red;">Please input your first name.</p></label>
                </div>
                <div class="address_input_item right">
                    <h5>@Messages("checkout_step.LastName")<i>*</i></h5>
                    <input name="lastName" type="text"/>
                    <label style="display:none;"><p style="color:red;">Please input your last name.</p></label>
                </div>
            </li>
            <li>
                <div class="address_input_item">
                	<input type="text" id="country" name="countryCode" style="display:none;"/>
                    <h5>@Messages("checkout_step.country")<i>*</i></h5>
                    <div class="newshopping_address_country">
                        <div  class="address_country">
                        	<div id="country_text"></div>
                       		<span><i></i></span>
                        </div>
                        <label id="country_label" style="display:none;"><p style="color:red;">Please select your country.</p></label>
                        <div id="country_select" class="country_all" style="display: none;">
                            <div class="search_country">
                            <input id="search_country" type="text" value="" />
                            </div>
                            <div  class="country_list">
                                <ul>
                                @countrys.map{c => 
                                	<li cid="@c.getIid" code="@c.getCshortname" name="country_li">@c.getCname</li>
                                }
                                   
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="address_input_item">
                    <h5>@Messages("checkout_step.address")<i>*</i></h5>
                    <input name="address1" type="text"/>
                    <label style="display:none;"><p style="color:red;">Please input your address.</p></label>
                </div>
            </li>
            <!-- <li>
                <div class="address_input_item">
                    <h5>Address Line 2</h5>
                    <input name="address2" type="text"/>
                </div>
            </li> -->
            <li>
                <div class="address_input_item left">
                    <h5>@Messages("checkout_step.city")<i>*</i></h5>
                    <input name="city" type="text"/>
                    <label style="display:none;"><p style="color:red;">Please input your city.</p></label>
                </div>
                <div class="address_input_item right">
                    <h5>@Messages("checkout_step.state")<i>*</i></h5>
                    <input name="province" type="text" class="current_province" />
                    <ul id="province_list_id" name="province_list" class="province_list" style="display: none;width:auto;">
					</ul> 
                    <label style="display:none;"><p style="color:red;">Please input your state.</p></label>
                </div>
            </li>
            <li>
                <div class="address_input_item left">
                    <h5>@Messages("checkout_step.postal")<i>*</i></h5>
                    <input name="zipCode" type="text"/>
                    <label style="display:none;"><p style="color:red;">Please input your post code.</p></label>
                </div>
                <div class="address_input_item right">
                    <h5>@Messages("checkout_step.phone")<i>*</i><div class="hint_phone_num"><p>For shipping and delivery purposes only.</p></div></h5>
                    <input name="telephone" type="text"/>
                     <label style="display:none;"><p style="color:red;">Please input your phone number.</p></label>
                </div>
            </li>
        </ul>
        <div class="newshopping_address_submit">
            <a href="/base/cms/detail/59" target="_blank">@Messages("checkout_step.Policy")</a>
            <div class="address_submit">
                <input id="cancel_btn" type="button" value="@Messages("checkout_step2.Cancel")" class="cancel"/>
                <input id="ok_btn" type="button" value="@Messages("checkout_step.save") >>" class="save"/>
            </div>
        </div>
    </div>
    <div class="blockPopup_black"></div>
</div>
</form>


<form id="confirmOrderForm" action="@controllers.paypal.routes.ExpressCheckoutNvp.confirmOrder()" method="post" style="display:none;">
<input name="token" type="text" value="@token"/>
<input name="PayerID" type="text" value="@PayerID"/>
<input name="orderNum" type="text" value="@orderNum"/>
<input name="firstName" type="text"/>
<input name="lastName" type="text"/>
<input name="lastName" type="text"/>
<input name="countryCode" type="text"/>
<input name="address1" type="text"/>
<input name="address2" type="text"/>
<input name="city" type="text"/>
<input name="province" type="text"/>
<input name="zipCode" type="text"/>
<input name="telephone" type="text"/>
<input name="shippingMethodIdValue" type="text"/>
<textarea name="leaveMessage"></textarea>
<input type="hidden" name="country" value="" />
<input type="hidden" name="countrysn" value="" />
</form>
<script>
var orderForm = {
	'firstName' : '@address.getCfirstname',
	'lastName' : '',
	'countryCode' : '@shipToCountryCode',
	'address1' : '@address.getCstreetaddress',
	'address2' : '',
	'city' : '@address.getCcity',
	'province' : '@address.getCprovince',
	'zipCode' : '@address.getCpostalcode',
	'telephone' : '@address.getCtelephone'
};

function toDecimal2(x) {    
	var f = parseFloat(x);
    f = Math.round(f * 100) / 100;    
    var s = f.toString();    
    var rs = s.indexOf('.');    
    if (rs < 0) {    
        rs = s.length;    
        s += '.';    
    }    
    while (s.length <= rs + 2) {    
        s += '0';    
    }    
    return s;    
}

function refreshShipMethod(shipToCountryCode){
	$.ajax({url: '/checkout/refresh-sm-guest', 
		type: 'GET', 
		data:{'orderNum' : "@orderNum",'shipToCountryCode' : shipToCountryCode}, 
		dataType: 'html', 
		timeout: 1000 * 20, 
		error: function(){}, 
		success: function(html){
			$('#shipMethod').empty();
			$('#shipMethod').append(html);
			//$('#confirmOrderForm').find('input[name=shippingMethodIdValue]').val('');
			
			$('input[type=radio][name=shippingMethodIdValue]').change(function() {
				calculateTotal();
			});
			calculateTotal();
		} 
		}); 
}

function ttAlert(tip){
	var errorBox = $('#errorBox');
	if(errorBox.length == 0){
		var ele = [];
		ele.push('<div id="errorBox" style="display: block" class="pu_pop popNone_s">');
		ele.push('<div class="ns_pop_box">');
		ele.push('<div class="btn_pop_close"></div>');
		ele.push('<div class="pop_title">');
		ele.push('<h3>Error</h3>');
		ele.push('</div>');
		
		ele.push('<div class="pop_con">');
		ele.push('<p id="errorBoxTxt"></p>');
		ele.push('</div>');
		ele.push('<div class="pop_input_box">');
		//ele.push('<input type="button" class="pop_input_close" value="CLOSE">');
		ele.push('<input id="errorBoxOkBtn" type="button" class="pop_input_confirm" value="OK">');
		ele.push('</div>');
		ele.push('</div>');
		ele.push('<div class="blockPopup_black"></div>');
		ele.push('</div>');
		$('body').append(ele.join(''));
		$('#errorBoxOkBtn').click(function() {
			$('#errorBox').hide();
		});
		$('#errorBox').find('.btn_pop_close').click(function() {
			$('#errorBox').hide();
		});
	}
	
	$('#errorBox').show();
	$('#errorBoxTxt').text((tip || ''));
}
function submitOrder(){
	$('#placeYourOrder').attr('disabled','disabled');
	//验证数据是否完整
	var valid = true;
	for (var attr in orderForm){
       if('address2' != attr){
   		   var value = orderForm[attr];
   		   if(!value){
					//ttAlert('Incomplete shipping address information');
					$('#shipAddressEdit').trigger('click');
					$("#province_list_id").hide();
					valid = false;
					break;
				}
			}
		}
	if(!valid){
		$('#placeYourOrder').removeAttr('disabled');
		return;
	}
	var shippingMethodIdValue = $('input[name=shippingMethodIdValue]:checked').val();
	if(!shippingMethodIdValue){
		ttAlert('please select shipping method');
		$('#placeYourOrder').removeAttr('disabled');
		return;
	}
	orderForm['shippingMethodIdValue'] = shippingMethodIdValue;
	if(valid){
		$('#confirmOrderForm').find('input[name]').each(function(){
			var name = $(this).attr('name');
			var val = $(this).val();
			if(!val){
				val = orderForm[name];
				$(this).val(val);
			}
			
		});
		var leaveMessage = $('#leaveMessage').val();
		$('#confirmOrderForm').find('textarea[name=leaveMessage]').val(leaveMessage);
		$('#confirmOrderForm').submit();
	}
	$('#placeYourOrder').removeAttr('disabled');
}

function valid() {
	var isValid = true;
	$('#ship_to_new_address_form').find('input[name]').each(function() {
		var name = $(this).attr('name');
		console.log(name + "=" + value);
		if ('address2' == name) {
			return true;
		}
		var value = $(this).val();
		if ('countryCode' == name && !value) {
			$('#country_label').show();
			isValid = false;
		} else if (!value) {
			$(this).next().show();
			isValid = false;
		}
	});
	return isValid;
}

function fillAddress() {
	var address = {};
	$('#ship_to_new_address_form').find('input[name]').each(function() {
		var name = $(this).attr('name');
		var value = $(this).val();
		address[name] = value || '';
	});
	
	if(orderForm.countryCode != address.countryCode){
		$('#shipMethod').empty();
		refreshShipMethod(address.countryCode);
	}
	
	orderForm = address;
	$('#shipToFirstName').text(address.firstName);
	$('#shipToLastName').text(address.lastName);
	$('#shipToStreet1').text(address.address1);
	$('#shipToStreet2').text(address.address2);
	$('#shipToCity').text(address.city);
	$('#shipToState').text(address.province);
	$('#shipToZipCode').text(address.zipCode);
	var c = $('#country_text').text();
	$('#shipToCountry').text(c);
	$('#shipToTel').text(address.telephone);
	
	
}

function calculateTotal(){
	var shipMethod = $('input[name=shippingMethodIdValue]:checked');
	var price = shipMethod.attr('price');
	if(price){
		var subtotal = $('#grandTotal').attr('total');
		subtotal = subtotal.replace(/,/g,'');
		price = price.replace(/,/g,'');
		//检查是否有小数点
		if(subtotal.indexOf('.') == -1){
			subtotal = parseInt(subtotal);
			price = parseInt(price);
			grandTotal = subtotal + price;
			$('#shipCost').text(price);
		}else{
			subtotal = parseFloat(subtotal);
			price = parseFloat(price);
			grandTotal = subtotal + price;
			//保留两位小数
			grandTotal = Math.round(grandTotal * 100) / 100;
			$('#shipCost').text(toDecimal2(price));
		}
		
		$('#grandTotal').empty();
		$('#grandTotal').text(grandTotal);
	}
}
$(function() {
	//告知用户邮寄国家不支持
	@if(shipToCountryCode == null){
		ttAlert('shipping unavailable');
	}else{
		refreshShipMethod('@shipToCountryCode');
	}
	
	$('#placeYourOrder').click(function() {
		submitOrder();
	});

	$('#ship_to_new_address_form').find('input[name]').blur(function() {
		var value = $(this).val();
		if (value) {
			$(this).next().hide();
		}
	});

	$('#shipAddressEdit').click(function() {
		$('#ship_to_new_address_form').find('input[name]').each(function() {
			var name = $(this).attr('name');
			if ('firstName' == name) {
				var fn = $('#shipToFirstName').text() || '';
				$(this).val(fn);
			} else if ('lastName' == name) {
				var fn = $('#shipToLastName').text() || '';
				$(this).val(fn);
			} else if ('address1' == name) {
				var fn = $('#shipToStreet1').text() || '';
				$(this).val(fn);
			} else if ('address2' == name) {
				var fn = $('#shipToStreet2').text() || '';
				$(this).val(fn);
			} else if ('city' == name) {
				var fn = $('#shipToCity').text() || '';
				$(this).val(fn);
			} else if ('province' == name) {
				var fn = $('#shipToState').text() || '';
				$(this).val(fn);
			} else if ('zipCode' == name) {
				var fn = $('#shipToZipCode').text() || '';
				$(this).val(fn);
			} else if ('telephone' == name) {
				var fn = $('#shipToTel').text() || '';
				$(this).val(fn);
			} else if ('countryCode' == name) {
				var fn = $('#shipToCountry').text() || '';
				fn = fn.toLocaleLowerCase();
				if (fn) {
					$("#country_select").find('li').each(function() {
						var text = $(this).text();
						text = text.toLowerCase();
						if (text == fn) {
							$(this).trigger('click');
							return false;
						}
					});
				}
			}
			$("#pop_address").show();
		});
	});

	$(".address_country").click(
			function() {
				$(this).parents(".newshopping_address_country").find(
						".country_all").toggle();
			});

	$("#ship_to_new_address").click(function() {
		$("#pop_address").show();
	});
	$("#cancel_btn").click(function() {
		$("#pop_address").hide();
	});
	$("#ok_btn").click(function() {
		var isValid = valid();
		if (isValid) {
			fillAddress();
			$("#pop_address").hide();
		}
	});
	$("#country_select").find('li').click(function() {
		var code = $(this).attr('code');
		var text = $(this).text();
		$('#country_text').text(text);
		$('#country').val(code);
		$('#country_select').hide();
		$('#country_label').hide();
		
		$("#confirmOrderForm input[name='country']:eq(0)").val($(this).html());
		$("#confirmOrderForm input[name='countrysn']:eq(0)").val(code);
	});
	$('#search_country').keyup(function() {
		var value = $(this).val();
		$("#country_select").find('li').each(function() {
			var text = $(this).text();
			text = text.toLowerCase();
			if (text.indexOf(value.toLowerCase()) != 0) {
				$(this).hide();
			} else {
				$(this).show();
			}
		});
	})

	$(".have_code p").click(function() {
		$(this).parents(".have_code").find(".have_code_input").toggle();
	});
	var ns_left=parseInt($(".newshopping_box_right").offset().left)+"px";
    var ns_top=$(".newshopping_box_right").offset().top;
    var ns_position=$(".shopping_bottom").offset().top;
    var ns_h2=ns_position-$(".newshopping_box_right").height();
    $(window).scroll(ns_top, function(event) {
        if($(this).scrollTop()>event.data&&$(this).scrollTop()<ns_h2){
            $(".newshopping_box_right").css({"position":"fixed","z-index":"99","left":ns_left,"top":"40px","margin-top":"0px"})
        }else{
            $(".newshopping_box_right").css({"position":"inherit","margin-top":"70px"});
        }
    });
});

</script>
<script src="@controllers.base.routes.Assets.at("js/base/country/country_rel.js")"></script>
<script src="@controllers.base.routes.Assets.at("nortonseal/nortonseal.js")"></script>

}
