<img src="@controllers.paypal.routes.Assets.at("/images/payment_PayPal.jpg")">
<p>
	If you have Paypal account, you can pay your order by your Paypal account.
	<br>
	If you don't have a Paypal account. You can also pay via Paypal with your credit card or bank debit card.
	<br>
	Payment can be submitted in any currency.
	<br>
	<b>TOMTOP.com's paypal account is : paypal@@tomtop.com</b>
</p>
<a class="spayOuts" href="javascript:;" tag="submit_button" >
	<img src="@controllers.paypal.routes.Assets.at("/images/paypalButton.png")">
</a>