@(vo:valueobjects.base.Page[forms.activity.page.PageRuleForm],
searchObj:forms.activity.page.PageRuleForm,
pagelist:List[valueobject.activity.page.Page],
rulelist:Map[String,valueobject.activity.page.ClassInfo]
)
@import views.html.helper._ 
@import services.base.utils.DateFormatUtils
@import play.libs.Json


@views.html.manager.main {
<div class="container-fluid">
		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN STYLE CUSTOMIZER -->
				<div class="color-panel hidden-phone">
					<div class="color-mode-icons icon-color"></div>
					<div class="color-mode-icons icon-color-close"></div>
					<div class="color-mode">
						<p>THEME COLOR</p>
						<ul class="inline">
							<li class="color-black current color-default" data-style="default"></li>
							<li class="color-blue" data-style="blue"></li>
							<li class="color-brown" data-style="brown"></li>
							<li class="color-purple" data-style="purple"></li>
							<li class="color-grey" data-style="grey"></li>
							<li class="color-white color-light" data-style="light"></li>
						</ul>
						<label> <span>Layout</span> <select
							class="layout-option m-wrap small">
								<option value="fluid" selected="">Fluid</option>
								<option value="boxed">Boxed</option>
						</select>
						</label> <label> <span>Header</span> <select
							class="header-option m-wrap small">
								<option value="fixed" selected="">Fixed</option>
								<option value="default">Default</option>
						</select>
						</label> <label> <span>Sidebar</span> <select
							class="sidebar-option m-wrap small">
								<option value="fixed">Fixed</option>
								<option value="default" selected="">Default</option>
						</select>
						</label> <label> <span>Footer</span> <select
							class="footer-option m-wrap small">
								<option value="fixed">Fixed</option>
								<option value="default" selected="">Default</option>
						</select>
						</label>
					</div>
				</div>
				<!-- END BEGIN STYLE CUSTOMIZER -->
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	
				<h3 class="page-title">
					Activity <small>Lottery Ruel</small>
				</h3>
				<ul class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/sysadmin">Home</a> <i
						class="icon-angle-right"></i></li>
					<li><a href="javascript:void">Activity</a> <i class="icon-angle-right"></i></li>
					<li><a href="@controllers.manager.luckdraw.routes.PageRuleAction.manage(vo.pageNo())">Lottery Ruel</a></li>
				</ul>
			</div>
		</div>
		<!-- END PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box light-grey">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-edit"></i>Lottery Ruel
						</div>
					</div>
					<div class="portlet-body">
						<div class="span12">
							@form(controllers.manager.luckdraw.routes.PageRuleAction.manage(), 'id->"searchForm",'method->"get"){
								<input type="hidden" name="p" value="@vo.pageNo">
								url：<input type="text" id ="search_startDate" name="curl" value="@searchObj.getCurl">
								<input class="btn green" type="submit" value="Search">
							}
						</div>
						<div class="clearfix">
							<div class="btn-group">
								<button id="add_btn" class="btn green" data-toggle="modal" data-target="#add-modal">
								添加规则 <i class="icon-plus"></i>
								</button>
							</div>
						</div>
						<div id="sample_editable_1_wrapper"
							class="dataTables_wrapper form-inline" role="grid">
							<table class="table table-striped table-hover table-bordered"
								id="user_table">
								<thead>
									<tr>
										<th>id</th>
										<th>page url</th>
										<th>page enable</th>
										<th>rule</th>
										<th>create user</th>
										<th>create date</th>
										<th>enable</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									@vo.getList().map{s=>
									<tr>
										<td>@s.getIid()</td>
										<td>@s.getCurl</td>
										<td>@if(s.getIpageienable() == 1){Yes}else{No}</td>
										<td>@if(rulelist.get(s.getCrule) != null ){@rulelist.get(s.getCrule).getDesc}</td>
										<td>@s.getCcreateuser</td>
										<td>@DateFormatUtils.getDateTimeYYYYMMDD(s.getDcreatedate)</td>
										<td>@if(s.getIenable() == 1){Yes}else{No}</td>
										<td>
											<a style="cursor: pointer;" class="edit" name="edit_theme_a" data-toggle="modal"
												data-target="#add-modal"
												href="javascript:void"
												url="@controllers.manager.luckdraw.routes.PageRuleAction.get(s.getIid())"><i
													class="icon-pencil"></i></a>
										</td>
										<td>@if(s.getIpageienable != 1){<a class="delete" href="@controllers.manager.luckdraw.routes.PageRuleAction.delete(s.getIid())" onclick="javascript:return confirm('Are you sure you want to delete it ?')"><i class="icon-trash"></i></a>}</td>
									</tr>
									}
								</tbody>
							</table>
							<div class="row-fluid">
								@if(vo != null) {
									<div class="span6">
										<div class="dataTables_info" id="sample_editable_1_info">当前第@vo.pageNo()页|共@vo.totalPages()页</div>
									</div>
									<div class="span6">
										<div class="dataTables_paginate paging_bootstrap pagination">
											@if(vo.totalPages()>=1){
												<ul>
													@if(1 >= vo.pageNo()){
														<li class="disabled"><a href="javascript:;">«</a></li>
													}else{
														<li><a  onclick="javascript:$('#searchForm').find('input[name=p]').val(@vo.pageNo()-1);searchForm.submit();" value="@vo.pageNo()" tag="pageNum">«</a></li>
													}
													@for(i <- vo.pageNo - 5 to vo.pageNo + 5 if i > 0 ; if i <= vo.totalPages) {
														@if(i == vo.pageNo){
															<li class="disabled"><a href="javascript:;">@i</a></li>
														}else{
															<li><a  onclick="javascript:$('#searchForm').find('input[name=p]').val(@i);searchForm.submit();"  value="@i" tag="pageNum">@i</a></li>
														}
													}
													@if(vo.pageNo >= vo.totalPages){
														<li class="disabled"><a href="javascript:;">»</a></li>
													}else{
														<li><a  onclick="javascript:$('#searchForm').find('input[name=p]').val(@vo.pageNo()+1);searchForm.submit();" value="@vo.pageNo()" tag="pageNum">»</a></li>
													}
												</ul>
											}
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
				<div id="add-modal" class="modal hide fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
					style="width: 640px">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h3 id="myModalLabel">规则</h3>
					</div>
					<form class="form-horizontal" id='addform' method="post">
						<input name="iid" type="hidden">
						<input type="hidden" name="p" value="@vo.pageNo">
						<div class="modal-body">
							<div class="control-group">
								<label class="control-label">page<span class="required">*</span></label>
								<div class="controls">
									<input name="oldpage" type="hidden">
									<select name="ipageid">
										@if(pagelist != null){
											@pagelist.map{ e =>
												<option value="@e.getIid">@e.getCurl</option>
											}
										}
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">rule<span class="required">*</span></label>
								<div class="controls">
									<select name="crule">
										<option ></option>
										@if(rulelist != null){
											@rulelist.map{e =>
												<option value="@e._1" param='@if(e._2.getSelfField != null){@Json.toJson(e._2.getSelfField)}'>@e._2.getDesc</option>
											}
										}
									</select> 
								</div>
							</div>
							<div class="control-group">
								<input type="hidden" name="cruleparam">
								<label class="control-label">rule param</label>
								<div class="controls" id="ruleparam">
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">enable<span class="required">*</span></label>
								<div class="controls">
									<select name="ienable">
										<option value="0">No</option>
										<option value="1">Yes</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer" style="margin-bottom: -20px;">
							<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
							<button id="add_save" class="btn blue">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	@helper.javascriptRouter("jsRoute")(
		controllers.manager.luckdraw.routes.javascript.PageRuleAction.add,
		controllers.manager.luckdraw.routes.javascript.PageRuleAction.save,
		controllers.manager.luckdraw.routes.javascript.PageRuleAction.get,
		controllers.manager.luckdraw.routes.javascript.PageRuleAction.validate
	) 
	@services.base.HtmlUtils.misc().addTailOnce{
		<script src="@controllers.manager.routes.Assets.at("js/manager/pagerule.js")" ></script>
		<script src="@controllers.manager.routes.Assets.at("js/bootstrap-datetimepicker.js")" ></script>
	}
}

