    <!-- top email -->
    <!-- <div class="top-email">
    	<span class="triangle"></span>
    	<div class="top-title">
        	<span>Get our latest deal notification by email</span>
        </div>
        <div class="top-box">
        	<form role="form" id="dealForm" method="post">
				<div class="has-feedback">
					<input type="text" id="email" name="email" class="txt" placeholder="Enter your email address" data-bv-field="email" />
					<button type="submit" class="email_btn">submit</button>
				</div>
			</form>
        </div>
    </div> -->