@(body: Html)<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>   
	<meta charset="utf-8" />
	<title>LiveChat</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />	 <link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/skin.css")" /> 	 <link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/styles.css")" />  	<link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/tomtop.css")" />	<script src="@controllers.livechat.routes.Assets.at("lib/jquery/jquery.min.js")"></script>	<script src="@controllers.base.routes.Assets.at("js/lib/main.js")"></script>    <style type="text/css">       .ul{list-style:none;}       .li{width:50px;margin-right:1px;cursor:default;float:left;}       .Menu{ text-align:center; width:30%; height:auto; position:fixed; border:solid 1px #AD53A3;left:400px; }           </style></head>
<body>	<div>		@body	</div>	  	</body> 
</html>