@(myAlias: String, destination: String, number:Int)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
	<link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/skin.css")" />
	<link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/styles.css")" />
	<link rel="stylesheet" href="@controllers.livechat.routes.Assets.at("css/tomtop.css")" />
	<script src="@controllers.base.routes.Assets.at("lib/jquery/jquery.min.js")"></script>
	<script src="@controllers.livechat.routes.Assets.at("js/livechat/logout.js")"></script>
	<script src="@controllers.base.routes.Assets.at("js/lib/main.js")"></script>
	<script>
		function sendControl(control, dataCallback, errorCallback, doneCallback) {
			$.ajax({
				method : "POST",
				url : "/livechat/control",
				data : JSON.stringify(control),
				dataType : "json",
				contentType : "application/json",
				processData : false,
				success : dataCallback,
				error : errorCallback,
			}).done(doneCallback);
		}
		function accept(originAlias,topicalias) {
			var ctl = {
				type : "ACCEPT",
				alias : originAlias,
				topic : topicalias,
			};
			sendControl(ctl);
		}
		 
		function established(sessionID) {
			redirect("/livechat/chatroom/init/2");
		}
		function abortconnect() {
			var ctl = {
				type : "ABORTCONNECT"
			};
			sendControl(ctl);
		}
		(function heartbeat() {
			var pingctl = {
				type : "PING",
				alias : "@myAlias",
				biswait : true
			};
			sendControl(pingctl, function(data) {
				$.each(data, function(i, d) {
					switch (d.type) {
					case "RING":
						accept(d.originAlias,d.topic);
						break;
					case "ESTABLISHED":
						established(d.id);
						break;
					case "WAIT":
						var number = d.number;
						$('.liveChat_Wait').find('font').text(number);
					}
				});
			}, function() {
				
			}, function() {
				setTimeout(heartbeat, 2000);
			});
		})();
		
		function leaveMessage(){
			redirect("/livechat/leave");
		}

	</script>
</head>
<body>

	<div class="liveChat_waitBox">
        <div class="liveChat_head"> </div>
        <p class="liveChat_Wait">
        @Messages("livechat.customer.connent.wait.front.part")&nbsp;<font color='red'>@number</font>&nbsp;
        @Messages("livechat.customer.connent.wait.behind.part")</p>
        <a class="chooseQ_Submit lineBlock" href="javascript:;" onClick="leaveMessage();">Message</a>
        <!-- <a class="chooseQ_Exit" href="javascript:;" onClick="abortconnect();">@Messages("livechat.exit")</a> -->
        <div class="liveChat_questionnaire">
            <div class="liveChat_question">
                <p class="liveQ_title">@Messages("livechat.exit.reason")</p>
                <label><input class="liveRadio" type="radio" /> @Messages("livechat.wait.too.long")</label>
                <label><input class="liveRadio" type="radio" /> @Messages("livechat.other.reasons")</label>
               
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>@Messages("livechat.email")</td>
                    <td><input class="inputTxt_s" type="text" /></td>
                  </tr>
                  <tr>
                    <td>@Messages("note")</td>
                    <td><textarea></textarea></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a class="liveSubmit" href="javascript:;">@Messages("submit")</a><p class="lineBlock liveCharacter">@Messages("livechat.you.have") <span>254</span> @Messages("livechat.characters")</p></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
 
</body>
</html>
