body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:290px;
  top:143px;
  width:560px;
  height:387px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:387px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:556px;
  word-wrap:break-word;
}
