<div class="writeEdit writeReview">
	<div class="writeReview_right">
        <h5>@Messages("write.a.review")  <span>(*@Messages("indicates.required.fields"))</span></h5>
        <hr>
        <table class="writeInp" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr class="writeInpone">
            <td>@Messages("nickname")<span class="read">*</span></td>
            <td><input type="text"></td>
          </tr>
          <tr class="writeInpTxt">
            <td>&nbsp;</td>
            <td>@Messages("nickname.shown.future.reviews.not.real.name") </td>
          </tr>
          <tr>
            <td>@Messages("emails")<span class="read">*</span></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td colspan="2">
            <ul class="startUL">
                <li class="startTxt">@Messages("price")</li>
                <li>
                    <div class="product_Reviews">
                        <em class="starOne"></em>
                        <em class="starTwo"></em>
                        <em class="starThree"></em>
                        <em class="starFour"></em>
                        <em class="starFive"></em>
                    </div> 
                </li>
                <li class="startTxt">@Messages("quality")</li>
                <li>
                    <div class="product_Reviews">
                        <em class="starOne"></em>
                        <em class="starTwo"></em>
                        <em class="starThree"></em>
                        <em class="starFour"></em>
                        <em class="starFive"></em>
                    </div> 
                </li>
                <li class="startTxt">@Messages("usefulness")</li>
                <li>
                    <div class="product_Reviews">
                        <em class="starOne"></em>
                        <em class="starTwo"></em>
                        <em class="starThree"></em>
                        <em class="starFour"></em>
                        <em class="starFive"></em>
                    </div> 
                </li>
                <li class="startTxt">@Messages("shipping")</li>
                <li>
                    <div class="product_Reviews">
                        <em class="starOne"></em>
                        <em class="starTwo"></em>
                        <em class="starThree"></em>
                        <em class="starFour"></em>
                        <em class="starFive"></em>
                    </div> 
                </li>
                <li class="startTxt startAll">@Messages("overall.rating")</li>
                <li class="startAll">
                    <div class="product_Reviews">
                        <div class="product_Start"></div>
                    </div> 
                </li>
            </ul>
            </td>
          </tr>
          <tr>
            <td valign="top">@Messages("reviews")<span class="read">*</span></td>
            <td><textarea></textarea></td>
          </tr>
        </table>
        <h5>@Messages("upload.pictures.or.video")</h5>
        <hr>
        <ul class="addPic_Box">
            <li class="addPic cursor"></li>
        </ul>
        <table class="upFilePV" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>@Messages("5.mb.image.jpeg.jpg.gif.png.bmp.clear.photos.much.appreciated")</td>
          </tr>
          <tr class="upF_pdT">
            <td>@Messages("video")</td>
            <td><input type="text" value="@Messages("paste.youtube.video.url")"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>@Messages("share.video.review.make.sure.video.related.product") </td>
          </tr>
          <tr class="upF_pdT">
            <td>@Messages("video.title")</td>
            <td><input type="text"></td>
          </tr>
          <tr class="upF_pdT">
            <td>@Messages("code")<span class="read">*</span></td>
            <td>
	            <input type="text" class="code">
	            <div class="code_txt">
	          	  <!--ÑéÖ¤Âë    <img src="images/delete/code.jpg"> -->
	            </div
	        </td>  
          </tr>
          <tr class="upF_last">
            <td>&nbsp;</td>
            <td>
            	<input class="closePP hsInput" type="submit" value="@Messages("cancel")">
            	<input class="closePP yellowInput" type="submit" value="@Messages("submit")">
            </td>
          </tr>
        </table>
	</div>
</div>