@(listingid:String)
@import views.html.helper._	
@helper.javascriptRouter("js_imageoutes")(
	controllers.interaction.routes.javascript.ProductPhotos.getPreveiwImageWithSession,
	controllers.interaction.routes.javascript.ProductPhotos.delPreveiwImageWithSession,
	controllers.interaction.routes.javascript.ProductPhotos.checkIsUpload,
	controllers.member.routes.javascript.Login.login,
    controllers.member.routes.javascript.Login.checkSign
)
<div class="blockPopup_box">

           <div class="postPhotos_popBox" id="postPhotos_popBox">
               <div class="customer_popClose"></div>
               <p>@Messages("please.upload.your.picture")!</p>
                     <ul class="addPic_Box" id="prcture-upload">
                       <li class="addPic cursor" id="cursor">
                       
                        @form(controllers.interaction.routes.ProductPhotos.pushPreveiwImageWithSession,'id->"preview-form",'role->"form",'enctype->"multipart/form-data"){
                          <input type='file' name="picture" class='addPicInput' />
                          <input type="hidden" name="index"  />
                        }
                       </li>
                   </ul>
               <span>@Messages("image.2.m.max.200.pixel.jpeg.gif.png.5.images")</span>
               <br />
               <span class="msg" style="color:red;"></span>
               <p>@Messages("say.few.words.about.products")</p>
                 @form(controllers.interaction.routes.ProductPhotos.addComment,'id->"add-form",'role->"form"){
	               <textarea name="comment" id="commentContent" ></textarea>
	               <input type="hidden" name="indexs"  />
	               <input type="hidden" name="csku" value="" />
	               <input type="hidden" class="clistingid" name="clistingid" value="@listingid" />
	               <input class="rightPaly_buyNow" type="submit" value="@Messages("submit")">
	               @*<span class="total">@Messages("total")4 @Messages("pictures")</span>*@
                 }
           </div>
           <div class="blockPopup_black"></div>
</div>
@services.base.HtmlUtils.misc().addTailOnce{
<script src='@controllers.base.routes.Assets.at("js/lib/jquery.form.js")'></script>
<script type="text/javascript">



function showPhotoDlg(){
	$(this).parents(".postPhotos").siblings(".blockPopup_box").fadeIn();
	mH = $(this).parents().siblings(".blockPopup_box").find(".scrollWZ").height();
	mY = $(this).parents().siblings(".blockPopup_box").find(".scrollY").height();
	$(".scrollWZ").css({"margin-top":-mH/2})
	if(mY>mH)
	{
		$(this).parents().siblings(".blockPopup_box").find(".scrollBox").css({"overflow-y":"scroll"})
	}
	else{
		$(this).parents().siblings(".blockPopup_box").find(".scrollBox").css({"overflow-y":"auto"})
	}
}
$('#upload-photo').on('click',function(e){
 	var self=this;
 	var s =s || {};
 	s.url=js_imageoutes.controllers.member.Login.checkSign().url
 	s.type='get';
 	async:false;
 	s.data={};
 	s.success=function(data){
 		if(data!=undefined && data){
 			var s =s || {};
 			s.url=js_imageoutes.controllers.interaction.ProductPhotos.checkIsUpload(listingid).url;
 			s.type='get';
 			async:false;
 			s.success=function(dataa){
 			    if(dataa==="true"){
 			    	showPhotoDlg.call(self);
 		 			return;
 			    }else{
 			    	$(self).parents(".browse_title").siblings(".blockPopup_box").fadeIn();
 			    }
 			}
 			$.ajax(s);
 		}else{
 			$("#blogin").show();
 		}
 		
 	}
 	$.ajax(s);
 	
 })

+(function($){
	
	Array.prototype.remove=function(index){
		
		for(var i=0,n=0;i<this.length;i++) 
	    { 
	        if(this[i]!=index) 
	        { 
	            this[n++]=this[i] 
	        } 
	    } 
	    this.length-=1 
	}
	
	function PreviewList(element,options){
		this.$ele=$(element) ;
		this.$input=this.$ele.find(':file');
		this.$indexInput=this.$ele.find('input[name=index]');
		this.$previewForm=this.$ele.find('#preview-form');
		this.$addCommentForm=this.$ele.find('#add-form');
		this.$addEle=this.$ele.find('.cursor');
		this.$msg=this.$ele.find('.msg');
		this.currentNum=0;
		this.listener();
		this.guid=1;
		this.preViewIds= "";
		this.enableupload=true;
		this.allowNum=5;
		this.allowSize=2;
		
	}
	PreviewList.prototype={
			listener:function(){
				this.$input.on('change', $.proxy(this.change, this));
				$(document).on('click','div.addDele',$.proxy(this.remove, this));
				$(document).on('submit','#add-form',$.proxy( this.submit, this));
			},
			reset:function(){
		        this.$addCommentForm.find('input[name=indexs]').val('');
				this.clear();
				this.currentNum=0;
				this.$ele.find('li[id!=cursor]').remove();
				this.preViewIds = "";
				this.enableupload=true;
				this.$addEle.show();
				this.$msg.html('');
			},
			submitSuccess:function(data){
				if(data && data.errorCode===0){
					this.reset();
					this.closeDlg();
				}
			},
			submit:function(e){
				if(!checkPhotoNum()){
					alert("You can't upload too many pictures!");
					return false;
				}
				var updatenum = $("#prcture-upload .addDele").length;
				if(updatenum<=0){
					alert("Please upload pictures");
					return false;
				}
				var commentContent = $("#commentContent").val();
				if(commentContent.length<1){
					alert("Please enter a description!");
					return false;
				}
				var url=this.$addCommentForm.attr('action');
				
				this.$addCommentForm.find('input[name=indexs]').val(this.preViewIds);
				var self=this;
				
				var csku = $("input[name='csku']:eq(0)").val();
				$("#add-form input[name='csku']:eq(0)").val(csku);
				this.$addCommentForm.ajaxSubmit({
					type : 'post',
					url : url,
					beforeSubmit : function() {
					},
					error : function() {
					},
					success :function(data){
						self.submitSuccess.call(self,data);
					}
				});
				return false;
			},
			clear:function(){
				var $cloneInput=this.$input.clone(true);
				$cloneInput.val('');
				this.$input.before($cloneInput);
				this.$input.remove();
				this.$input=$cloneInput;
				
			},
			muiltfiles:function(files){
			var arry = new Array();
			for(var i =0;i< files.length;i++){
				var file=files[i];
				if (!(typeof file.type !== "undefined" ? file.type.match('image.*') : file.name.match('\\.(gif|png|jpeg)$'))) {
					this.$msg.html(file.name+ " support JPEG GIF PNG ");
					if(files.length>1){
						continue;
					}else{
						this.clear();
						return;
					}
					
				}
                var fileSize=file.size/(1023*1024);
                if(fileSize>this.allowSize){
                	this.$msg.html(file.name+" Image size 2M max ");
                	if(files.length>1){
						continue;
					}else{
						this.clear();
						return;
					}
                }
			  
                this.preview(this.guid);
  			    var o={};
  			    o.file=file;
  			    o.guid=this.guid;
  			    arry.push(o)
  			    this.guid++;
  			    ++this.currentNum;
  				if(this.currentNum >=this.allowNum){
  					this.$addEle.hide();
  					this.upload(arry);
  					this.enableupload=false;
  					return ;
  				} 
			}
			this.upload(arry);
			},
			ajaxEerror:function(){
				
			},
			ajaxSuccess:function(data){
				if(data.errorCode==0 && (data.width<200 || data.height<200)){
					this.$msg.html("The range must more than 200 Pixel!");
					var theli = this.$ele.find('li[data-index="'+data.index+'"]:eq(0)');
					this.remove(theli);
					return false;
				}
				if(data && data.errorCode===0){
					    var index=data.index;
						var imgurl = js_imageoutes.controllers.interaction.ProductPhotos
						.getPreveiwImageWithSession(index).url
						+ "&_t=" + Math.random();
						
						var $preview=this.$ele.find('li[data-index="'+index+'"]');
						$preview.append('<img src="'+imgurl+'" />');
						$preview.find('div.throbber').remove();
						this.clear();
						this.preViewIds += index+'|';
					}
			},
			ajaxUpload:function(formData){
				if(!this.enableupload){
					return;
				}
				 var _url=this.$previewForm.attr('action');
				 var self=this;
				 $.ajax({
					 method:'post',
					 url:_url,
					 data:formData,
					 cache: false,
					 contentType: false,
					 processData: false,
					 success:function(data){
						 self.ajaxSuccess.call(self,data);
					 }
				 });
			},
			upload:function(arry){
				for(var i =0; i< arry.length; i++){
					var formData = new FormData();
					formData.append("index",arry[i].guid);
					formData.append("picture",arry[i].file);
					this.ajaxUpload(formData);
				}
			},
			change:function(e, invoked){
			    if(e.target.files){
			    	var files=e.target.files;
			    	this.muiltfiles(files);
			    	return false;
			    }
			},
			remove:function(e){
				var $target=$(e.target)
				var $preview=$target.parents('li');
				if($preview.length==0){
					$preview = e;
				}
				var index=$preview.data('index');
				var s= s || {};
				var self=this;
				s.url=js_imageoutes.controllers.interaction.ProductPhotos
				.delPreveiwImageWithSession(index).url;
				s.data={};
				s.success=function(data){
					if(data){
						if(data.errorCode==0){
							$preview.remove();
							var dataIndex=data.index;
							self.preViewIds = self.preViewIds.replace(dataIndex+"|","");
						    //console.info(self.preViewIds)
							self.currentNum--;
							if(self.currentNum<self.allowNum){
								self.$addEle.show();
								self.enableupload=true;
							}
						}
					}
				}
				$.ajax(s);
			},
			preview:function(index){
				var node=this.$ele.find('li:first');
				var html='<li data-index='+index+'><div style="display:block;" class="throbber"></div><div class="addDele"></div></li>'
				node.before(html);
			
			},
			closeDlg:function(){
				this.$ele.parents(".blockPopup_box").fadeOut();
				this.$ele.parents(".account_Y").fadeOut();
				
			}
	}
	
	$.fn.previewList=function(options){
		new PreviewList(this,options)
	}
})(jQuery);
$(function(){
	$('#postPhotos_popBox').previewList({});
});

//根据订单判断上传图片的数量
function checkPhotoNum(){
	var flag = false;
	var listingid = $("#add-form .clistingid:eq(0)").val();
	var updatenum = $("#prcture-upload .addDele").length;
	$.ajax({
		url : "@controllers.interaction.routes.ProductPhotos.checkNum()",
		type : "GET",
		dataType : "json",
		async : false,
		data:{
			"listingid": listingid,
			"updatenum": updatenum
		},
		success : function(data) {
			if (data.result == "success") {
				flag = true;
			}
		}
	});
	return flag;
}

</script>
}