@(
 versionList: List[dto.mobile.AppVersionDto]
) 

@import views.html.helper._

@views.html.manager.main {

	@helper.javascriptRouter("js_VersionManagerRoutes")(
		controllers.manager.routes.javascript.AppVersion.addAppVersion,
		controllers.manager.routes.javascript.AppVersion.updateAppVersion,
		controllers.manager.routes.javascript.AppVersion.deleteAppVersion,
		controllers.manager.routes.javascript.AppVersion.list
	)

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">
	
		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<h3 class="page-title">
					版本号管理
				</h3>
				<ul class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/sysadmin">Home</a>
						<i class="icon-angle-right"></i></li>
					<li><a href="#">APP后台</a> <i class="icon-angle-right"></i>
					</li>
					<li><a href="#">版本号管理 </a></li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->
		
		
		<!-- BEGIN PAGE CONTENT-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-edit"></i>版本号管理
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a> <a
								href="#portlet-config" data-toggle="modal" class="config"></a>
							<a href="javascript:;" class="reload"></a> <a
								href="javascript:;" class="remove"></a>
						</div>
					</div>

					<div class="portlet-body">
						<div class="clearfix">
							<div class="btn-group">
								<button id="version_manager_table_new" class="btn green">
									新增版本号 <i class="icon-plus"></i>
								</button>
							</div>
						</div>
						<table class="table table-striped table-hover table-bordered"
							id="version_manager_table">
							<thead>
								<tr>
									<th>序号</th>
									<th>版本编号</th>
									<th>版本ID</th>
									<th>版本描述</th>
									<th>下载地址</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								 @versionList.map{a=>
									<tr class="" id="@a.getIid()" title="@a.getVs()">
										<td >@a.getIid()</td>
										<td class="center">@a.getVs()</td>
										<td class="center">@a.getVid()</td>
										<td class="center">@a.getDescr()</td>
										<td class="center">@a.getDurl()</td>
										<td><a class="edit" href="javascript:;">Edit</a></td>
										<td><a class="delete" href="javascript:;">Delete</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
			<!-- END PAGE CONTAINER-->
	@services.base.HtmlUtils.misc().addTailOnce{
		<script type="text/javascript" src='@controllers.manager.routes.Assets.at("js/manager/appversion/versionmeter_edittable.js")'></script>
	} 

}
