<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.manager.AdminMenuMapper" >

	<select id="getAdminMenuByMenuIds"  resultType="entity.manager.AdminMenu">
		select *  from t_admin_menu m 
		where 1=1  
		<if test="list !=null and list.size>0">
			AND m.iid in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">#{item}</foreach>
		</if>
	</select>
   
</mapper>