<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.manager.LeaveMsgInfoMapper" >
 
  
  <select id="searchLeaveMsgInfoPage" resultType="entity.manager.LeaveMsgInfo" >
   		select * from (
			select a.* 
			from t_livechat_leave_msg a  
			where  1 = 1
			 <if test="ilanguageid != null and ilanguageid !=-1" >
		        and a.ilanguageid=#{ilanguageid}
		     </if>
			 <if test="itopicid != null and itopicid !=-1" >
		        and a.ctopic=#{itopicid}
		     </if>
			 <if test="bishandle != null" >
		        and a.bishandle=#{bishandle}
		     </if>
		     <if test="ipretreatmentid != null" >
		        and a.ipretreatmentid=#{ipretreatmentid}
		     </if>
		     <if test="chandler != null" >
		        and a.chandler=#{chandler}
		     </if>
		) a  order by bishandle,dcreatedate desc limit #{pageSize} offset (#{page}-1)*#{pageSize}
			
  </select>
  
  <select id="searchLeaveMsgInfoCount" resultType="java.lang.Integer" >
		
		select count(iid) from (
			select a.* 
			from t_livechat_leave_msg a  
			where  1 = 1
			  <if test="ilanguageid != null and ilanguageid !=-1" >
		        and a.ilanguageid=#{ilanguageid}
		     </if>
			 <if test="itopicid != null and itopicid !=-1" >
		        and a.ctopic=#{itopicid}
		     </if>
			 <if test="bishandle != null" >
		        and a.bishandle=#{bishandle}
		     </if>
		     <if test="ipretreatmentid != null" >
		        and a.ipretreatmentid=#{ipretreatmentid}
		     </if>
		     <if test="chandler != null" >
		        and a.chandler=#{chandler}
		     </if>
		) a   
			
  </select>
  
  
</mapper>