<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.manager.UserRoleMapMapper">

	<select id="selectByPrimaryKey" resultType="entity.manager.UserRoleMap"
		parameterType="java.lang.Integer">
		select *
		from t_admin_user_role_map
		where iid = #{iid,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_admin_user_role_map
		where iid = #{iid,jdbcType=INTEGER}
	</delete>

	<delete id="deleteUserRoleByUserId" parameterType="java.lang.Integer">
		delete from t_admin_user_role_map
		where iuserid = #{iuserid,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="entity.manager.UserRoleMap">
		insert into t_admin_user_role_map (iuserid, iroleid, ccreateuser,
		dcreatedate)
		values ( #{iuserid,jdbcType=INTEGER}, #{iroleid,jdbcType=INTEGER},
		#{ccreateuser,jdbcType=VARCHAR}, Now())
	</insert>


	<update id="updateByPrimaryKey" parameterType="entity.manager.UserRoleMap">

		update t_admin_user_role_map
		set iuserid = #{iuserid,jdbcType=INTEGER},
		iroleid = #{iroleid,jdbcType=INTEGER},
		ccreateuser = #{ccreateuser,jdbcType=VARCHAR},
		dcreatedate = Now()
		where iid = #{iid,jdbcType=INTEGER}
	</update>
</mapper>