@(cart : facades.cart.Cart,
	currency:dto.Currency,
	isLogin:Boolean,
	collectList:List[extensions.order.collect.ICollectProvider])
@import services.base._
@tp = @{services.base.template.TemplateService.getInstance().getContents()}

@views.html.order.top(1,false){

@helper.javascriptRouter("cartRoutes")(
	controllers.cart.routes.javascript.Cart.editNum,
	controllers.cart.routes.javascript.Cart.delCart,
	controllers.cart.routes.javascript.Cart.deleteItemList,
	controllers.cart.routes.javascript.Cart.getCartsJson,
	controllers.cart.routes.javascript.Cart.checkCart,
	controllers.cart.routes.javascript.Cart.refreshTotal,
	controllers.cart.routes.javascript.Cart.addDropShipping,
	controllers.cart.routes.javascript.Cart.refreshCartTable,
	controllers.member.routes.javascript.Login.checkSign,
	controllers.member.routes.javascript.Login.login
)

<div class="shoppingCart_con">
	<h5>@Messages("shopping.cart")</h5>
	@if(cart.getAllItems().size()>0){
	<ul class="proNav">
		<li><a class="delete" href="javascript:;"><em class="sCloss"></em>
		@Messages("remove.all")
				<p class="deletePop">
					<i></i>@Messages("remove.all.from.your.cart")<br> 
					<input onclick="removeall();" type="button" value="@Messages("yes")" class="deleteYes" /> 
					<input onclick="hideTip(this)" type="button" value="@Messages("no")" />
				</p> </a></li>
		@collectList.map{c=>
			@c.getHtml()
		}
		<li class="undoDelete" style="display: none;"><em
			class="checkBoxs afters"></em> <span>@Messages("deleted")</span> <span>HS01003A
				E27 3W 6500K 235lm...</span> <a href="javascript:;">@Messages("undo.delete")</a> <i
			class="sCloss"></i></li>
	</ul>
	@cart_view_table.render(cart,currency,isLogin)
	<div class="cart_bot">
		<em></em><span>@Messages("secure.checkout")</span> <br>@Messages("shopping.always.safe.secure")
		<a href="javascript:vrsn_splash()" tabindex="-1">
	       		<img name="seal" border="true" src="@controllers.base.routes.Assets.at("nortonseal/nortonseal2.gif")" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security">
	    </a>
	</div>
	<div class="clear"></div>
	}else{
		<div class="shopping_none">
        	<em></em>
        	<b>@Messages("your.shopping.cart.is.empty")</b>
        	@if(!isLogin){
        		<p><a href="@controllers.member.routes.Login.loginForm()">@Messages("login.save")</a>@Messages("items.in.shopping.cart")</p>
        	}
            <p><a href="/">@Messages("go.to.home")</a>@Messages("page.and.select.items")</p>
        </div>
	}
</div>
@if(cart.getAllItems().size()<=0){
	@tp.get("member-browse-history")
}
@services.base.HtmlUtils.misc().addTailOnce{
	<script src="@controllers.base.routes.Assets.at("js/lib/jquery.json.min.js")" ></script>
	<script src="@controllers.order.routes.Assets.at("js/cart/cartview.js")" ></script>
	<script src="@controllers.base.routes.Assets.at("nortonseal/nortonseal.js")"></script>
}

}
