.newshopping_box_right .nw_btn_place{
    background-position: 12px -410px;
    padding-left: 43px;
    font-size: 14px;
}

.have_code .have_code_input input[type="submit"]{
    width: 76px;
    padding: 0 6px;
}
.have_code .have_code_input input[type="text"]{
    width: 145px;
}

.have_code .have_code_select .current_num{
    width: 143px;
}
.have_code .have_code_select{
    width: 145px;
}
.have_code .current_list{
    width: 145px;
}
.newshopping_box_right .nw_btn_cartplace{
    background-position: 28px -410px;
    padding-left: 63px;
    font-size: 17px;
}


