.newshopping_box_right .nw_btn_place{
    background-position: 55px -410px;
    padding-left: 86px;
}


.newshopping_box_right .nw_btn_cartplace{
background-position: 24px -410px;
padding-left: 56px;
font-size: 14px;
}