.newshopping_box_right .nw_btn_place{
    background-position:60px -410px;
    padding-left: 93px;
    font-size: 16px;
}
.newshopping_box_right .nw_btn_cartplace{
    background-position: 26px -410px;
    padding-left: 58px;
    font-size: 14px;
}


