.rightPaly_addToCart{font-size:17px !important;padding-left:33px !important;}
#nav .submenu{padding-bottom:95px !important;}
.submenu dl {width: 225px !important;}
.submenu dl .fo86,.submenu dl .fo13{display:none !important;}
.addto_cart .addTo_cartHide .viewCart{left:18px !important;width:135px !important;}
.addto_cart .addTo_cartHide .continueShopping{left:160px !important;width:132px !important;}
.addto_cart .addTo_cartHide{padding-left:20px !important;}