@()
@import services.cart.member._
@country = @{services.base.FoundationService._getCountryObj()}
@mainsite = @{play.Play.application().configuration().getString("main_website")}

<div class="cartLogin" >
	@* @if(!MemberHelper.getCurrentEmail().isDefined()){
		<em></em>@Messages("hello").<a href="javascript:;" data="/login" class="blue">
			@Messages("sign.in.join")
		</a>
		<br> *@
		<!--pop-->
		<div class="blockPopup_box noPhoto">
			<div class="postPhotos_popBox">
				
				<div class="customer_popClose"></div>
				<ul class="ControlNa">
					<li class="controAc">@Messages("sign.in")</li>
					<li>@Messages("register")</li>
					<div class="clear"></div>
				</ul>
				<div class="signIn Control block">
					<form style="margin:0px;" class="form-signin" role="form" id="loginForm" >
					<ul>
						<li>
							<em class="loginEmail"></em>
							<input name="email" class="errorInp" type="text" placeholder="@Messages("enter.your.email.address")" />
							<!-- <label class="edit_error">An account already exists for this email address.</label> -->
						</li>
						<li>
							<em class="loginLock"></em>
							<input name="password" class="errorInp" type="password" placeholder="@Messages("enter.your.password")" />
							<!-- <p class="edit_error"><em></em><i></i>An account already exists for this email address.</p> -->
						</li>
					</ul>
					<p class="red" id="returnwrong" style="display:none;">The email address or password you entered is incorrect.</p>
					<div class="singInBotone">
						<input class="log_sinIn" type="submit" value="@Messages("login")">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="@mainsite/member/findpass">@Messages("forgot.your.password")</a>
					</div>
					</form>
					<div class="singInBottwo">
						<!-- <input class="log_Face" type="button" value="@Messages("facebook")" /><br>
						<input class="log_Paypal" type="button" value="@Messages("log.in.with.paypal")" /><br>
						<input class="log_google" type="button" value="Log in with Google" /> -->
					</div>
				</div>
				
				<div class="register Control">
					<form id="regForm" >
					<ul>
						<li>
							<em class="loginEmail"></em>
							<input type="text" name="email" placeholder="@Messages("enter.your.email.address")">
							<span class="rightUse" style="display:none;"></span>
						</li>
						<li>
							<em class="loginLock"></em>
							<input name="passwd" id="regpassword" type="password" placeholder="@Messages("enter.your.password")"/>
							<span class="rightUse" style="display:none;"></span>
						</li>
						<li>
							<em class="loginLock"></em>
							<input name="confirm_password" type="password" placeholder="@Messages("confirm.your.password")" />
						</li>
					</ul>
					<p>@Messages("your.shipping.destination")</p>
	  				@select_country(country)
	  				
	  				<div class="registerYzm">
			        	Code<span class="red">*</span>
			        	<input  name="code" id="captcha" type="text" style="width:73px;"/>
			        	<!-- <span class="rightUse"></span> -->
			        	<!-- <label class="edit_error">Please make sure</label> -->
			        	<div class="code_txt">
							<img id="captchaimg" src="/cart/captcha" onclick="this.src='/cart/captcha?t='+Math.random()" style="cursor:pointer;" title="change" width="70" height="30" />
						</div>
			        </div>
					<div class="clear"></div>
					<label class="iAgreErr">
						<input name="agree" type="checkbox" />
						@Messages("i.agree.to.the.tomtop")
						<span class="blue">@Messages("terms.and.conditions")</span>
						<!-- <label class="edit_error">Please make sure</label> -->
					</label>
					<label>
						<input type="checkbox" name="signupNewsletter" />
						@Messages("yes.sign.up.our.newsletter.get.a.50.coupon.in.your.first.email")
					</label>
					<div class="creatInp">  
						<hr>
						<input type="submit" value="@Messages("create.my.account")" />
					</div>
					</form>
				</div>
				
			</div>
			<div class="blockPopup_black"></div>
		</div>
		<!--pop-->
		@**
	} else { 
		@MemberHelper.getCurrentEmail().asScala.map{ email =>
			<em class="vartLogOut"></em>@Messages("hi") 
			<a href="@mainsite/member/home" class="blue">@email</a>
			<a href="@controllers.cart.member.routes.Login.logout()">@Messages("logout")</a>
		}
	}  **@
</div>
@services.base.HtmlUtils.misc().addTailOnce{

<script>
$(document).ready(function() {
	//login-------------
	$("#loginForm").validate({
		//debug:true,
		submitHandler: function(form) {
			$.ajax({
		        type:"post",
		        cache:false,
		        url:"@controllers.cart.member.routes.Login.signin()",
		        data:$(form).serialize(),
		        dataType:"json",
		        success: function(data) {
		        	if(data.result=="success"){
		        		location.reload();
		        		//$("#returnwrong").hide();
		        	}else if(data.result=="accountwrong"){
		        		$("#returnwrong").show();
		        	}else{
		        		pophtml("Error",data.result);
		        	}
	        	}
		      });
			return false;
		},
		//错误提示
	    errorClass : "edit_error",
		errorElement : "label",
	  	highlight: function (element,errorClass) { 
			//$(element).next().find("span:eq(0)").html(error.html());
			//$(element).next().show();
	    },
	    unhighlight: function (element) { 
	    	//$(element).next().hide();
	    },
		errorPlacement: function(error, element) {
			$(element).after(error);
		},
		rules: {
			email: {
				required:true,
				email:true,
				maxlength:50
			},
			password: {
				required: true,
				minlength: 6,
				maxlength:20,
				rangelength:[6,20]
			}
		},
		messages: {
			email: {
					required:"This field is required!",
					email: "The email you've entered is invalid. Please check your email and try again.",
					maxlength:"Please enter a valid email address!"
				},
			password: {
					required:"Provide a password.",
					minlength: jQuery.validator.format("Enter at least {0} characters."),
					maxlength: jQuery.validator.format("Please enter no more than {0} characters!"),
					rangelength: $.validator.format("Please enter a value between {6} and {20} characters long!")
				}
	  	},
	  	/*showErrors:function(errorMap,errorList) {
	        console.log(errorMap);
	        console.log(errorList);
		},*/
		success: function (e,element) {
			e.removeClass('edit_error').addClass('suceess');
		}
	});
	//reg---------------
	$("#regForm").validate({
		submitHandler: function(form) {
			$.ajax({
		        type:"post",
		        cache:false,
		        url:"@controllers.cart.member.routes.Login.register()",
		        data:$(form).serialize(),
		        dataType:"json",
		        success: function(data) {
		        	if(data.result=="success"){
		        		var mainurl = $("#mainurl").val();
		        		location.href = mainurl+"/member/register-done/"+data.email;
		        	}
	        	}
		      });
			return false;
		},
		//错误提示
	    errorClass : "edit_error",
		errorElement : "label",
	  	highlight: function (element,errorClass) { 
	    },
	    unhighlight: function (element) { 
	    },
		errorPlacement: function(error, element) {
			if($(element).attr("name")=="agree"){
				$(element).next().after(error);
			}else{
				$(element).after(error);
			}
		},
		rules: {
			email: {
				required:true,
				email:true,
				noexist:true,
				maxlength:50
			},
			passwd: {
				required: true,
				minlength: 6,
				maxlength: 20,
				rangelength:[6,20]
			},
			confirm_password: {
				required: true,
				minlength: 6,
				maxlength: 20,
				equalTo: "#regpassword"
			},
			agree:{
				required: true
			},
			code:{
				required: true,
				remote:{
               		type:"POST",
               		url:"@controllers.cart.member.routes.Login.validateCategory()",
               		data:{
               			captcha:function(){return $("#captcha").val();}
                	}
              	}
			}
	  	},
		messages: {
			email: {
				required: "This field is required!",
				noexist:'An account already exists for this email address!',
				maxlength:"Please enter a valid email address!"
			},
			passwd: {
				required: "Provide a password!",
				minlength: jQuery.validator.format("Please enter at least {0} characters!"),
				maxlength: jQuery.validator.format("Please enter no more than {0} characters!"),
				rangelength: $.validator.format("Please enter a value between {6} and {20} characters long!"),
				nosame:"Your password and account information too coincidence, stolen risk, please change a password!"
			},
			confirm_password: {
				required: "Repeat your password!",
				minlength: jQuery.validator.format("Please enter at least {0} characters!"),
				maxlength: jQuery.validator.format("Please enter no more than {0} characters!"),
				equalTo: "Enter the same password as above!"
			},
			agree:{
				required: "Please make sure you agree to our Terms and Conditions!"
			},
			code:{
				required: "Please enter the verification code!"
			}
		},
	  	/*showErrors:function(errorMap,errorList) {
	        console.log(errorMap);
	        console.log(errorList);
		},*/
		success: function (e,element) {
			e.removeClass('edit_error').addClass('suceess');
		}
	});
	//ajax获取邮箱是否注册
	jQuery.validator.addMethod("noexist", function(value, element) { 
		var s= s || {};
		var flag=null;
		s.url= "@controllers.cart.member.routes.Login.validEmail()"+"?email="+value;
		s.data={};
		s.type='get';
		s.async=false;
		s.success=function(data){
			if(data){
				if(data.errorCode===1){
					flag=false;
				}else if(data.errorCode===0){
					flag=true;
				}
			}
		}
		$.ajax(s);
	    var result=this.optional(element) || flag; 
	    return result;
	});
});	 
</script>

}



