@(cart: facades.cart.Cart, extra: valueobjects.order_api.ExtraLineView,currency:dto.Currency)
@import views.html.helper._
@import services.base.utils._

<td>@extra.getMessage() (@extra.getPayLoad):</td>
<td>
	<span class="green">@currency.getCsymbol @Utils.money(extra.getMoney)</span>
	<div id="delCouponCode" class="couponClose">X</div>
</td>

@services.base.HtmlUtils.misc().addTailOnce{
  <script type="text/javascript">
  $(function(){
	  $('#delCouponCode').click(function(){
		  $.ajax({ 
      		  type: 'POST',  
      			contentType : 'application/json',
      	        dataType : "JSON",
      	        data : '{"cartId" : "@cart.getId","code" : "@extra.getPayLoad"}',
      	        url: '@controllers.loyalty.routes.MyCoupon.delCartCoupon()',
      	        error: function () {
      	           
      	        },  
      	        success:function(data){
      	        	window.location.reload();
      	        }
      	  })
	  });
  })
  </script>
}