.nav-cart-item {
float: left;
width: 100%;
margin: 0 0 10px 0;
padding: 0;
list-style-type: none;
}
.nav-bold {
font-weight: bold;
}
.nav_p{
	zoom: 1;
font-size: 13px;
font-family: "arial","sans-serif";
line-height: normal;
}
.nav-cart-item-link {
position: relative;
display: block;
min-height: 40px;
_height: 40px;
padding: 0 0 0 50px;
text-decoration: none;
line-height: 13px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-size: 12px;
font-family: "arial","sans-serif";
color: #888;
}
.nav-cart-item-image {
position: absolute;
left: 0;
top: 0;
border: 0;
width: 40px;
height: 40px;
}
img {
vertical-align: top;
}
 .nav-cart-item-title {
display: block;
line-height: 14px;
text-decoration: none;
color: #888;
color: #0066c0;
width: 152px;
}
.nav-cart-items .nav-cart-item .nav-cart-item-title {
color: #0066c0;
width: 152px;
}
span.nav-cart-item-quantity {
display: block;
line-height: 14px;
text-decoration: none;
color: #888;
}


/*按钮*/

#nav-cart-footer {
width: 100%;
box-sizing: border-box;
margin: 4px 0px 14px;
text-align: right;
}
#nav-cart-footer .nav-action-button {
display: inline-block;
width: 100%;
height: auto;
margin: 0px;
padding: 6px 10px 8px;
line-height: 16px;
box-sizing: border-box;
}
.nav-action-inner {
display: inline-block;
line-height: 16px;
text-align: center;
}

#nav-cart-menu-button-count {
padding: 0px 3px;
display: inline-block;
}

a#nav-cart-menu-button {
display: block;
height: 31px;
margin: 0px 10px 0px 11px;
cursor: pointer;
outline: 0px;
border: 1px solid;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-radius: 3px;
-webkit-box-shadow: rgb(252, 243, 220) 0px 1px 0px 0px inset;
box-shadow: rgb(252, 243, 220) 0px 1px 0px 0px inset;
background: -webkit-linear-gradient(top, rgb(248, 227, 173), rgb(238, 186, 55));
text-align: center;
line-height: 29px;
vertical-align: middle;
color: rgb(17, 17, 17);
font-family: arial, sans-serif;
text-decoration: none;
}

.nav-action-button, .nav-action-button:visited {
display: block;
height: 31px;
margin: 0 10px 0 11px;
cursor: pointer;
outline: 0;
border: 1px solid;
border-color: #c89411 #b0820f #99710d;
-webkit-border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
border-radius: 0\9;
-webkit-box-shadow: inset 0 1px 0 0 #fcf3dc;
-moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
box-shadow: inset 0 1px 0 0 #fcf3dc;
background: #f3ce72;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8E3AD',endColorstr='#FFEEBA37',GradientType=0);
background: linear-gradient(to bottom,#f8e3ad,#eeba37);
background: -moz-linear-gradient(top,#f8e3ad,#eeba37);
background: -webkit-linear-gradient(top,#f8e3ad,#eeba37);
background: -o-linear-gradient(top,#f8e3ad,#eeba37);
background: -ms-linear-gradient(top,#f8e3ad,#eeba37);
text-align: center;
line-height: 29px;
vertical-align: middle;
color: #111;
font-family: "arial","sans-serif";
text-decoration: none;
}