@(storageParentList :List[dto.StorageParent],
allCountries:List[dto.Country])
@import views.html.helper._
<div id="adddate-default"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	@form(controllers.manager.storage.routes.StorageManagerController.addStorageDefault()){
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		    <h3>添加默认仓库</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" style="display:inline-block;vertical-align:middle;">仓库</label>
				<div class="controls">
					<select name="idefaultstorage" style="display:inline-block;vertical-align:middle;margin-top: -35px;margin-left: 120px;" >
						@if(null != storageParentList && storageParentList.size >0){
									@storageParentList.map{ n =>
										<option value="@n.getIid()">@n.getCstoragename()</option>
									}
								}
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" style="display:inline-block;vertical-align:middle;">默认国家</label>
				<div class="controls">
					<div class="controls">
					<select name="ccountryname"  style="display:inline-block;vertical-align:middle;margin-top: -35px;margin-left: 120px;" >
						@if(null != allCountries && allCountries.size >0){
									@allCountries.map{ n =>
										<option value="@n.getCshortname()">@n.getCname()</option>
									}
								}
					</select>
				</div>
				</div>
			</div>
			
		</div>
	    <div class="modal-footer" style="margin-bottom: -20px;">
		     <!-- <button type="button" class="btn closeArrival" onClick="closeStorageArrival()" data-dismiss="modal">关闭 </button>
             <button type="submit" id="addArrival" onClick="addStorageArrival()" class="btn saveArrival">保存</button> -->
             <button type="button" class="btn closeArrival" onClick="closeStorageDefault()" data-dismiss="modal">关闭 </button>
             <button type="submit"   class="btn saveArrival">保存</button>
	    </div>
	    }
</div>