body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:14px;
  width:803px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:807px;
  height:394px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:14px;
  width:803px;
  height:76px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:76px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:90px;
  width:803px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:58px;
  top:166px;
  width:803px;
  height:76px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:58px;
  top:242px;
  width:803px;
  height:76px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:76px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:58px;
  top:318px;
  width:803px;
  height:76px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:76px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:447px;
  top:414px;
  width:50px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:507px;
  top:414px;
  width:30px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:547px;
  top:414px;
  width:30px;
  height:26px;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:587px;
  top:414px;
  width:30px;
  height:26px;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:627px;
  top:414px;
  width:30px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:667px;
  top:414px;
  width:30px;
  height:26px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:707px;
  top:419px;
  width:13px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:17px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:730px;
  top:414px;
  width:30px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:770px;
  top:414px;
  width:30px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:810px;
  top:414px;
  width:50px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:58px;
  top:500px;
  width:200px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:104px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
