@(	
		userupdateForm:Form[forms.member.passwordReset.PasswordResetUpdateForm],
		email : String,
		cid : String 
  )
  
@import views.html.helper._
		
@views.html.base.master{

<body>
<div class="container login_page">
	<h3>@Messages("password.reset")</h3>
    <div class="passwordResets">
    @form(controllers.member.routes.PasswordReset.passwordReset(),'class->"e_form",'id->"resetForm",'autocomplete->"off") {
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>@Messages("new.password") </td>
            <td>
            	<input id="passwd"  class="password" type="password"  name="passwd">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
                <ul class="passwordHigh">
                	<li class="" id="l">@Messages("low")</li>
                	<li class="" id="m">@Messages("medium")</li>
                	<li class="paLast" id="h">@Messages("high")</li>
                </ul>
            	@Messages("this.should.be.at.least.6.characters.long.and.will.be.case.sensitive")
            </td>
          </tr>
          <tr>
            <td>@Messages("confirm.new.password") </td>
            <td><input id="confirm_password"  name="confirm_password" type="password"><span class=""></span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
            	<input type="hidden" name="cid" value="@cid">
            	<input id="resetsubmit" type="submit" value="@Messages("Save")" disabled="disabled" class="blackInput">
            	</td>
          </tr>
        </table>
        }
    </div>
</div>
</body>
					
          
		             @services.base.HtmlUtils.misc().addHeadOnce{
 	  					<link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/login.css")?@version.BuildVersion.build()" /> 
				     }

					@services.base.HtmlUtils.misc().addTailOnce{
				 			<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("lib/jquery-validation/jquery.validate.min.js")'></script>
							<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("js/lib/jquery.metadata.js")'></script>
				     		 <script  language="javascript" type="text/javascript" src='@controllers.member.routes.Assets.at("js/member/passwordResetValidation.js")'></script>
			     		 }
}