@(errorMessage: String,
	errorCode: String,
	retryUrl: String)

@meta = @{services.base.utils.MetaUtils.currentMetaBuilder().build()}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
<meta name="description" content="@meta.getDescription()">
        <meta name="keywords" content="@meta.getKeywords()">
@meta.getProperties().map{p =>
        	<meta property="@p._1" content="@p._2">
        }
<title>@meta.getTitle()</title>
<link rel="icon" href="@controllers.mobile.routes.Assets.at("favicon.ico")" type="image/x-icon">
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/main.js")"></script>
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/public.js")"></script>
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/scroll.js")"></script>
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/select_currency.js")"></script>
<script type="text/javascript" src="@controllers.mobile.routes.Assets.at("js/video.js")"></script>

<link href="@controllers.mobile.routes.Assets.at("css/style.css")" rel="stylesheet" media="screen">
<link href="@controllers.mobile.routes.Assets.at("css/bottom.css")" rel="stylesheet" media="screen">
<link href="@controllers.mobile.routes.Assets.at("css/mobile.css")" rel="stylesheet" media="screen">
<link href="@controllers.mobile.routes.Assets.at("css/top.css")" rel="stylesheet" media="screen">
<link href="@controllers.mobile.routes.Assets.at("css/termsOf.css")" rel="stylesheet" media="screen">
<link href="@controllers.mobile.routes.Assets.at("css/paymentMethod.css")" rel="stylesheet" type="text/css">
<link href="@controllers.mobile.routes.Assets.at("css/productDescription_page.css")" rel="stylesheet" type="text/css">
<link href="@controllers.mobile.routes.Assets.at("css/paySuccess.css")" rel="stylesheet" type="text/css">

</head>
<body>
<p>   &nbsp;   </p>
		
	<div class="container">
		<div class="textPageFile">
			<h5>We're sorry. An error occurred and we're on the case. Please try again later.</h5>
			<p class="marT30"><strong>Details:</strong></p>
			<p>Error Code: @errorCode</p>
			<p>Error Message: @errorMessage</p>
			@if(retryUrl != null){
			<a class="span98 button_orange marT" href="@retryUrl">Pay Again</a>
			}
		</div>
	</div>
	
</body>
</html>