<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.product.ProductStorageMapMapper" >
  <resultMap id="BaseResultMap" type="dto.product.ProductStorageMap" >
    <id column="iid" property="iid" jdbcType="INTEGER" />
    <result column="clistingid" property="clistingid" jdbcType="VARCHAR" />
    <result column="csku" property="csku" jdbcType="VARCHAR" />
    <result column="istorageId" property="istorageid" jdbcType="INTEGER" />
    <result column="ccreateuser" property="ccreateuser" jdbcType="VARCHAR" />
    <result column="dcreatedate" property="dcreatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    iid, clistingid, csku, istorageId, ccreateuser, dcreatedate
  </sql>
  <insert id="addProductStorageList" parameterType="java.util.List" >
    insert into t_product_storage_map (clistingid, csku, 
      istorageid, ccreateuser, dcreatedate
      )
    values 
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.clistingid,jdbcType=VARCHAR}, #{item.csku,jdbcType=VARCHAR}, 
      #{item.istorageid,jdbcType=INTEGER}, #{item.ccreateuser,jdbcType=VARCHAR}, #{item.dcreatedate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>