@(products: valueobjects.base.Page[valueobjects.product.ProductBadge],
	catelist: List[dto.product.CategoryWebsiteWithName],
	sc: valueobjects.search.SearchContext,
	req: Map[String, Array[String]],
	advertisingList : List[valueobjects.product.AdItem],
	storage: dto.Storage
	)
@tp = @{services.base.template.TemplateService.getInstance().getContents()}

@import services.base._
@import services.search.criteria._
@views.html.base.master{
	@helper.javascriptRouter("theRoutes")(
	)
	@services.base.HtmlUtils.misc().addHeadOnce{
	 	  <link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/search.css")?@version.BuildVersion.build()" /> 
	}
<div class="container LevelOne">
    <div class="Bread_crumbs_Box">
    	<ul class="Bread_crumbs">
            <li class="Bread_home"><a href="#"></a></li>
            <li>
                <dl>
                    <dt><a class="Bread_link" href="#">@Messages("local.warehouse")</a></dt>
                </dl>
            </li>
            <li class="curr-category">
               @if(null != storage){
	                    <a class="Bread_link" href="@controllers.product.routes.Product.storage(storage.getIid())">@storage.getCstoragename()  @Messages("warehouse")</a>
               } 
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    @if(null !=advertisingList && advertisingList.size()>0){
    <div class="specialsBanner">
		@advertisingList.map{a=>
			@Html(a.getDefaultShow())
		}
    </div>
    }
    @views.html.home.cartegory_single_select_bar(catelist)
    @views.html.product.sortbar{
    	<!-- 选中的品类 -->
    	@if(sc.extractFirst(classOf[services.search.filter.CategorySearchFilter]).isDefined()) {
		  	@sc.extractFirst(classOf[services.search.filter.CategorySearchFilter]).asScala.map{k =>
		  		@k.getCategories().map{m => <input type="hidden" id="category" name="category" value="@m" />} 
		  	}
		}else{
			<input type="hidden" id="category" name="category" value="" />
		}
	}(req)(sc)
	@if(products.getList().size()>0){
    <ul class="arrangeClick arrangeLess block" >
    	@products.getList().map{p=>
			@views.html.product.gadget.badge_big(p)
		}
        <div class="clear"></div>
    </ul>
    <ul class="arrangeList">
       	@products.getList().map{p=>
			@views.html.product.gadget.badge_list(p)
		}
        <div class="clear"></div>
    </ul>
    <div class="arrayNEX">
         @views.html.product.gadget.pagination(sc.getResult().pageNo(),sc.getResult().totalPages())
     </div>
     }else{
    <h2 style="text-align:center;color:orange; margin-bottom: 50px;border:1px solid #e8e8e8;padding:150px 0 ;">Sorry, No Products Found!</h2>
    }
</div>
@tp.get("member-browse-history")

}