

@services.base.HtmlUtils.misc().addHeadCssOnce{
 	@controllers.base.routes.Assets.at("css/login_page.css")
}
@import views.html.helper._ 
@views.html.base.sub_master(){
<div class="container">
@form(controllers.member.routes.Login.forgetPassword, 'method->"POST", 'id->"findpassForm"){
		<div class="RegisterInput_box input_control span98">
			<p class="forgotPass">Enter your Email address</p>
			<input id="change-password-email" name="email" class="txtInput" type="text" placeholder="Email address" />
			<label><p id="change-password-email-tip" class="red errorRed"></p></label>
		</div>
		
		<input id="change-password-email-ok" class="Reg_pageButton" type="button" value="Send">
		}
</div>

@services.base.HtmlUtils.misc().addTail{
<script type="text/javascript">
 	$(function(){
 		$('#change-password-email-ok').click(function(){
 			var email=$('#change-password-email').val();
 			if(!email){
 				$('#ttm-register-email').addClass('input_error');
 				$('#ttm-register-email-tip').text('please input your email');
 				return;
 			}
 			//验证邮箱是否正确
 			$.ajax({url: '@controllers.member.routes.Login.validateEmailIsExist()', 
 				type: 'get', 
 				data:{'email' : email}, 
 				dataType: 'json', 
 				timeout: 2000, 
 				error: function(){
 					$('#change-password-email').addClass('input_error');
 					$('#change-password-email-tip').text('email is invalid or existed');
 				}, 
 				success: function(result){
 					$('#change-password-email-tip').text('');
 					$('#change-password-email').removeClass('input_error');
 					$('#change-password-email').addClass('input_success');
 					$('#findpassForm').submit();
 				} 
 		});
 	});
 	});
</script>
}

}
