
@import views.html.helper._ 
@views.html.base.master{
@services.base.HtmlUtils.misc().addHeadCssOnce{
 	@controllers.base.routes.Assets.at("css/login_page.css")
}
<div class="container">
@form(controllers.member.routes.ResetPassword.saveNewPassword, 'method->"POST", 'id->"newPassForm"){
		<div >
			<p class="forgotPass">Enter your new password</p>
			<div class="RegisterInput_box input_control">
			<input id="oldPwd" name="oldPwd" class="txtInput" type="password" placeholder="Old Password">
			<label><p id="oldPwd_tip" class="red errorRed"></p></label>
			</div>
            <div class="RegisterInput_box input_control">
			<input id="newPwd" name="newPwd" class="txtInput" type="password" placeholder="New Password">
			<label><p id="newPwd_tip" class="red errorRed"></p></label>
			</div>
			<div class="RegisterInput_box input_control">
			<input id="confirm_newPwd" name="confirm_newPwd" class="txtInput" type="password" placeholder="re-enter New Password">
			<label><p id="confirm_newPwd_tip" class="red errorRed"></p></label>
			</div>
		
		<input id="newpwd-ok" class="Reg_pageButton" type="button" value="OK">
		</div>
		}
</div>
@services.base.HtmlUtils.misc().addTail{
<script type="text/javascript">
 	$(function(){
 		
 		$('#newPwd').click(function(){
	 			var password = $('#oldPwd').val();
	 			if(!password){
	 				$('#oldPwd').addClass('input_error');
	 				$('#oldPwd_tip').text('please input your password');
	 				return;
	 			}
	 			else if(password.length < 6){
	 				$('#oldPwd').addClass('input_error');
	 				$('#oldPwd_tip').text('Please inuput at least 6 characters');
	 				return;
	 			}
	 			$('#oldPwd').removeClass('input_error');
	 			$('#oldPwd').addClass('input_success');
				$('#oldPwd_tip').text('');
	 		});
 		$('#confirm_newPwd').click(function(){
 			var newPwd = $('#newPwd').val();
 			if(!newPwd){
 				$('#newPwd').addClass('input_error');
 				$('#newPwd_tip').text('please input your password');
 				return;
 			}
 			else if(newPwd.length < 6){
 				$('#newPwd').addClass('input_error');
 				$('#newPwd_tip').text('Please inuput at least 6 characters');
 				return;
 			}
 				$('#newPwd').removeClass('input_error');
 				$('#newPwd').addClass('input_success');
 				$('#newPwd_tip').text('');
 			
 			$('#newPwd').addClass('input_success');
			$('#newPwd_tip').text('');
 		});
 		
 		$('#newpwd-ok').click(function(){
 			var password = $('#oldPwd').val();
 			if(!password){
 				$('#oldPwd').addClass('input_error');
 				$('#oldPwd_tip').text('please input your password');
 				return;
 			}
 			else if(password.length < 6){
 				$('#oldPwd').addClass('input_error');
 				$('#oldPwd_tip').text('Please inuput at least 6 characters');
 				return;
 			}
 			$('#oldPwd').removeClass('input_error');
 			$('#oldPwd').addClass('input_success');
			$('#oldPwd_tip').text('');
			
 				var newPwd = $('#newPwd').val();
	 			if(!newPwd){
	 				$('#newPwd').addClass('input_error');
	 				$('#newPwd_tip').text('please input your password');
	 				return;
	 			}
	 			else if(newPwd.length < 6){
	 				$('#newPwd').addClass('input_error');
	 				$('#newPwd_tip').text('Please inuput at least 6 characters');
	 				return;
	 			}
	 				$('#newPwd').removeClass('input_error');
	 				$('#newPwd').addClass('input_success');
	 				$('#newPwd_tip').text('');
	 			
 	 			var confirm_newPwd = $('#confirm_newPwd').val();
 	 			if(!confirm_newPwd){
 	 				$('#confirm_newPwd').addClass('input_error');
 	 				$('#confirm_newPwd_tip').text('please input your re-enter password');
 	 				return;
 	 			}
 	 			else if(confirm_newPwd != newPwd){
 	 				$('#confirm_newPwd').addClass('input_error');
 	 				$('#confirm_newPwd_tip').text('the passwords are different');
 	 				return;
 	 			}
 	 			$('#confirm_newPwd').removeClass('input_error');
 	 			$('#confirm_newPwd').addClass('input_success');
 	 			$('#confirm_newPwd_tip').text('');
 	 			

 	 			$.ajax({
 					url: '@controllers.member.routes.ResetPassword.saveNewPassword()', 
 					type: 'post', 
 					timeout: 5000, 
 					data:{oldPwd:$('#oldPwd').val(),
 						newPwd:$('#newPwd').val()},
 					error: function(){
 						var show="failed to set";
 						ttmErrorAlert(show);
 					}, 
 					success: function(result){
 						if(result.result=="success"){
 							var show="Set successfully";
 							ttmSucceedAlert(show);
 							window.location.href="@controllers.member.routes.Login.login(0)?backUrl=/";
 						}
 						else if(result.result=="error"){
 							var show="failed to set";
 							ttmErrorAlert(show);
 						}
 						else if(result.result=="verifying"){
 							var show="The old password mistake";
 							ttmErrorAlert(show);
 						}
 						else{
 							var show="failed to set";
 							ttmErrorAlert(show);
 						}
 							
 							
 					}
 			});
 	 			
 	 			
 		});
 	});
</script>

}
}
