@(	
		cid : String 
  )


@import views.html.helper._ 
@views.html.base.master{
@services.base.HtmlUtils.misc().addHeadCssOnce{
 	@controllers.base.routes.Assets.at("css/login_page.css")
}
<div class="container">
@form(controllers.member.routes.ResetPassword.saveResetPassword, 'method->"POST", 'id->"findpassForm"){
		<div >
			<p class="forgotPass">Enter your new password</p>
            <input type="hidden" name="cid" value="@cid">
            <div class="RegisterInput_box input_control">
			<input id="passwd" name="passwd" class="txtInput" type="password" placeholder="Password">
			<label><p id="passwd_tip" class="red errorRed"></p></label>
			</div>
			<div class="RegisterInput_box input_control">
			<input id="confirm_passwd" name="confirm_password" class="txtInput" type="password" placeholder="re-enter Password">
			<label><p id="confirm_passwd_tip" class="red errorRed"></p></label>
			</div>
		
		<input id="pwdreset-ok" class="Reg_pageButton" type="button" value="OK">
		</div>
		}
</div>
@services.base.HtmlUtils.misc().addTail{
<script type="text/javascript">
 	$(function(){
 		
 		$('#confirm_passwd').click(function(){
	 			var password = $('#passwd').val();
	 			if(!password){
	 				$('#passwd').addClass('input_error');
	 				$('#passwd_tip').text('please input your password');
	 				return;
	 			}
	 			if(password.length < 6){
	 				$('#passwd').addClass('input_error');
	 				$('#passwd_tip').text('Please inuput at least 6 characters');
	 				return;
	 			}
	 			$('#passwd').addClass('input_success');
				$('#passwd_tip').text('');
	 		});
 		
 		$('#pwdreset-ok').click(function(){
 				var password = $('#passwd').val();
	 			if(!password){
	 				$('#passwd').addClass('input_error');
	 				$('#passwd_tip').text('please input your password');
	 				return;
	 			}
	 			if(password.length < 6){
	 				console.log(password)
	 				$('#passwd').addClass('input_error');
	 				$('#passwd_tip').text('Please inuput at least 6 characters');
	 				return;
	 			}else{
	 				$('#passwd').removeClass('input_error');
	 				$('#passwd').addClass('input_success');
	 				$('#passwd_tip').text('');
	 			}
	 			
 	 			var spassword = $('#confirm_passwd').val();
 	 			if(!spassword){
 	 				$('#confirm_passwd').addClass('input_error');
 	 				$('#confirm_passwd_tip').text('please input your re-enter password');
 	 				return;
 	 			}
 	 			
 	 			if(password != spassword){
 	 				$('#confirm_passwd').addClass('input_error');
 	 				$('#confirm_passwd_tip').text('the passwords are different');
 	 				return;
 	 			}
 	 			$('#confirm_passwd_tip').text('');
 	 			$(this).removeClass('input_error');
 	 			$(this).addClass('input_success');
 	 			$('#findpassForm').submit();
 		});
 	});
</script>

}
}
