@(oneCmsMenuList: List[dto.CmsMenu],
cmsMenuMap: Map[Integer,List[dto.CmsMenu]],
cmsContentList: List[dto.CmsContent])
 
@import services.base._

@views.html.base.master{
@HtmlUtils.misc().addHeadOnce{
 	  <link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/help.css")?@version.BuildVersion.build()" /> 
}
	
     
<div class="container accountBox">
    <div class="Bread_crumbs_Box">
        <ul class="Bread_crumbs">
            <li class="Bread_home"><a href="#"></a></li>
            <li>
                <p><a class="Bread_link" href="#">@Messages("help.center")</a></p>
            </li>
         
            <div class="clear"></div>
        </ul>
    </div>
    
  @views.html.base.cms_left_catalog(oneCmsMenuList, cmsMenuMap)
     
     <div class="helpRight">
        
         @cmsContentList.map{u=>
         	<h6>@u.getCtitle()</h6>
         	@Html(u.getCcontent())
         }
		     		 
    </div>
     
</div>
	 
	 
	@services.base.HtmlUtils.misc().addTailOnce{
	
   
		 
	}
}                                          
                                               
