@livechaturl = @{services.base.ConfigService.getLivechatUrl()}
<div class="nav_ljh">
   <div class="nav_ljhFix">
      <div id="top"><a href="#top_s"></a></div>
      <div class="right_floor f1">
        <a href="#f1">1F</a>
        <div class="livechat01">@Messages("super.deals")</div>
        <div class="livechat02"></div>
      </div>
      <div class="right_floor f2">
        <a href="#f2">2F</a>
        <div class="livechat01">@Messages("new.arrivals")</div>
        <div class="livechat02"></div>
      </div>
      <div class="right_floor f3">
        <a href="#f3">3F</a>
        <div class="livechat01">@Messages("featured.items")</div>
        <div class="livechat02"></div>
      </div>
      <div class="right_floor f4">
        <a href="#f4">4F</a>
        <div class="livechat01">@Messages("hot.categories")</div>
        <div class="livechat02"></div>
      </div>
      <div class="right_floor f5">
        <a href="#f5">5F</a>
        <div class="livechat01">@Messages("hot.events")</div>
        <div class="livechat02"></div>
      </div>
      <div class="livechat_ljh">
       <a href="@livechaturl" rel="nofollow" target="_blank"></a>
        <!-- <a href="javascript:void(0);" onclick="window.open('/livechat/enquiry','LiveChat','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=750,height=470,left=180,top=140');"></a> -->
        <div class="livechat01">@Messages("live.chat")</div>
        <div class="livechat02"></div>
      </div>
  </div>
</div>