<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.category.CategoryBackgroundImagesMapper" >
  <resultMap id="BaseResultMap" type="dto.category.CategoryBackgroundImages" >
    <id column="iid" property="iid" jdbcType="INTEGER" />
    <result column="icategorynameid" property="icategorynameid" jdbcType="INTEGER" />
    <result column="ibottom" property="ibottom" jdbcType="INTEGER" />
    <result column="iright" property="iright" jdbcType="INTEGER" />
    <result column="curl" property="curl" jdbcType="VARCHAR" />
    <result column="iwebsiteid" property="iwebsiteid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="dto.category.CategoryBackgroundImages" extends="BaseResultMap" >
    <result column="cbackgroundimages" property="cbackgroundimages" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    iid, icategorynameid, ibottom, iright, cbackgroundimages, curl, iwebsiteid
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_category_backgroundimages
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="dto.category.CategoryBackgroundImages" >
    insert into t_category_backgroundimages (icategorynameid, ibottom, 
      iright, cbackgroundimages, curl,iwebsiteid)
    values (#{icategorynameid,jdbcType=INTEGER}, #{ibottom,jdbcType=INTEGER}, 
      #{iright,jdbcType=INTEGER}, #{cbackgroundimages,jdbcType=BINARY}, #{curl,jdbcType=VARCHAR},#{iwebsiteid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="dto.category.CategoryBackgroundImages" >
    insert into t_category_backgroundimages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="icategorynameid != null" >
        icategorynameid,
      </if>
      <if test="ibottom != null" >
        ibottom,
      </if>
      <if test="iright != null" >
        iright,
      </if>
      <if test="cbackgroundimages != null" >
        cbackgroundimages,
      </if>
      <if test="curl != null" >
        curl,
      </if>
      <if test="iwebsiteid != null" >
        iwebsiteid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="icategorynameid != null" >
        #{icategorynameid,jdbcType=INTEGER},
      </if>
      <if test="ibottom != null" >
        #{ibottom,jdbcType=INTEGER},
      </if>
      <if test="iright != null" >
        #{iright,jdbcType=INTEGER},
      </if>
      <if test="cbackgroundimages != null" >
        #{cbackgroundimages,jdbcType=BINARY},
      </if>
      <if test="curl != null" >
        #{curl,jdbcType=VARCHAR},
      </if>
      <if test="iwebsiteid != null" >
        #{iwebsiteid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dto.category.CategoryBackgroundImages" >
    update t_category_backgroundimages
    <set >
      <if test="icategorynameid != null" >
        icategorynameid = #{icategorynameid,jdbcType=INTEGER},
      </if>
      <if test="ibottom != null" >
        ibottom = #{ibottom,jdbcType=INTEGER},
      </if>
      <if test="iright != null" >
        iright = #{iright,jdbcType=INTEGER},
      </if>
      <if test="cbackgroundimages != null" >
        cbackgroundimages = #{cbackgroundimages,jdbcType=BINARY},
      </if>
      <if test="curl != null" >
        curl = #{curl,jdbcType=VARCHAR},
      </if>
       <if test="iwebsiteid != null" >
         #{iwebsiteid,jdbcType=INTEGER},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
</mapper>