@(
		email:String
	)
	
@import views.html.helper._
@views.html.base.master{

		             @services.base.HtmlUtils.misc().addHeadOnce{
 	  					<link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/login.css")?@version.BuildVersion.build()" /> 
				     }

<div class="container login_page">
	<h3>@Messages("forgot.password.back")</h3>
    <div class="passwordReset">
    	<div class="passwordHide">
            <p><em></em>@Messages("an.e.mail.has.been.sent.to")<br>
                @Messages("please.check.your.e.mail.box")<span class="blue"> @email</span><br>
                @Messages("please.follow.the.instructions.in.the.e.mail.to.set.your.new.password")
            </p>
            <hr>
            <div class="passwordReset_inp">
            <a href="@controllers.member.routes.Login.login()"><input class="pasLog"  type="submit" value="@Messages("login")"></a>
            <a href="@controllers.base.routes.Home.home()"><input  class="pasCheck"  type="submit" value="@Messages("back.to.home")"></a>
            </div>
        </div>
    </div>
</div>
}