body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:801px;
  height:105px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:105px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:244px;
  width:510px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  white-space:nowrap;
}
