<div class="Bread_crumbs_Box">
	<ul class="Bread_crumbs">
		<li class="Bread_home"><a href="/"></a></li>
		<li>
			<dl>
				<dt>
					<a class="Bread_link" href="#">@Messages("fashion.clothing")</a>
				</dt>
				<dd>
					<ul>
						<li><a href="#">@Messages("expedited.shipping")</a></li>
						<li><a href="#">@Messages("outdoor.traveling.supplies")</a></li>
						<li><a href="#">@Messages("swimming.supplies")</a></li>
					</ul>
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>
					<a class="Bread_link" href="#">@Messages("fashion.clothing")</a>
				</dt>
				<dd>
					<ul>
						<li><a href="#">@Messages("expedited.shipping")</a></li>
						<li><a href="#">@Messages("flash.sale")</a></li>
						<li><a href="#">@Messages("zibiaoti")</a></li>
					</ul>
				</dd>
			</dl>
		</li>
		<li class="curr-category"><a href="#">@Messages("mens.outerwear")</a>
		</li>
		<div class="clear"></div>
	</ul>
</div>
