@(categorylabelName: java.util.LinkedHashMap[dto.SimpleLanguage, dto.product.CategoryLabelName])
@import views.html.helper._
@helper.javascriptRouter("attributeRoutes")(
	controllers.manager.routes.javascript.Attribute.getAttributeList
)


@views.html.manager.main {
<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected="">Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed" selected="">Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected="">Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected="">Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->  
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							品类标签管理 <small>标签</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="/sysadmin">Home</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="@controllers.manager.routes.CategoryLabel.getCategoryLabelList()">品类标签管理</a>
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="">编辑品类标签信息</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<div class="tabbable tabbable-custom boxless">
							<ul class="productDescription_navigation">
							</ul>
							<ul class="nav nav-tabs">
								@if(categorylabelName.size() > 0) {
									@categorylabelName.map{ e =>
									<li @if(1==e._1.getIid()){class="active"}><a href="#tab_@e._1.getIid()" data-toggle="tab">@e._1.getCname()</a></li>
									}
								}
							</ul>
							<div class="tab-content">
								@categorylabelName.map{ e =>
									<div class="tab-pane @if(1==e._1.getIid()){active}" id="tab_@e._1.getIid()">
										<div class="portlet box blue">
											<div class="portlet-title">
												<div class="caption"><i class="icon-reorder"></i>属性列表</div>
												<div class="tools">
													<a href="javascript:;" class="collapse"></a>
													<a href="#portlet-config" data-toggle="modal" class="config"></a>
													<a href="javascript:;" class="reload"></a>
													<a href="javascript:;" class="remove"></a>
												</div>
											</div>
											<div class="portlet-body form">
												<!-- BEGIN FORM-->
												@form(controllers.manager.routes.CategoryLabel.categoryLabelNameSave(), 'enctype->"multipart/form-data", 'class->"saveCategoryLabel"){
													<div class="row-fluid">
														<input type="hidden" name="ilanguageid" value="@e._2.getIlanguageid">
														<input type="hidden" name="icategorylabelid" value="@e._2.getIcategorylabelid">
														<input type="hidden" name="iid" value="@e._2.getIid">
														
														<div class="control-group">
															<label class="control-label">图片</label>
															@if(e._2.getCimages() != null) {
																<div class="controls">
																<br>
																<img alt="" src="@controllers.manager.routes.CategoryLabel.view(e._2.getIid())">
																</div>
															}
															<input id="imagefiles@e._2.getIlanguageid" class="prvimage" name="image" multiple="multiple" type="file">
															<div id="prvimagefiles@e._2.getIlanguageid">预览容器</div>
														</div>
														
														<div class="control-group">
															<label class="control-label" for="firstName">link</label>
															<div class="controls">
																<input type="text" name="curl" class="m-wrap span12 required" value="@e._2.getCurl()" required >
															</div>
														</div>
														
														<div class="control-group">
															<label class="control-label" for="firstName">alt</label>
															<div class="controls">
																<input type="text" name="cprompt" class="m-wrap span12 required" value="@e._2.getCprompt"  required >
															</div>
														</div>
													</div>
													
													<div class="form-actions">
														<button name="submit" type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
														<button type="button" class="btn">Cancel</button>
													</div>
												<!-- END FORM--> 
												}
											</div>
										</div>
									</div>	
								}
							</div>
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT -->
				
			</div> 
			@services.base.HtmlUtils.misc().addTailOnce{
				<script src="@controllers.manager.routes.Assets.at("lib/requirejs/require.js")" data-main="@controllers.manager.routes.Assets.at("js/manager/categorylabeldetail")" ></script>
			}
}
