<span class="payFors">Оплатить с QIWI:</span>
<img src="@controllers.payment.impl.routes.Assets.at("images/PayPal05.jpg")">
<p>Пожалуйста, введите Ваш QIWI аккаунт! Номер телефона обязательно
	нужно указать для оплаты.</p>
Номер телефона:
<div class="i-input-group">
	<div data-selected="ru" id="j-country-code-trigger"
		class="i-select i-input-addon">
		<i class="qiwi-flag qiwi-flag-ru"></i> <strong class="i-country-code">+7</strong>
	</div>
	<input
		data-errormessage="Введите действительный номер телефона, прикреплённый к QIWI Wallet."
		maxlength="20" class="i-input" name="qiwiAccount"
		data-widget-cid="widget-17" seed="iInputGroup-qiwiAccount"
		smartracker="on" type="text">
	<div id="j-country-code-list" class="i-country-code-list"
		data-widget-cid="widget-15">
		<ul>
			<li class="fn-hide"><a tabindex="-1" href="javascript:;"
				seed="jCountryCodeList-link" smartracker="on"> <i
					class="qiwi-flag qiwi-flag-ru"></i> Россия <strong
					class="i-country-code fn-right">+7</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT1"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-kz"></i>
					Казахстан <strong class="i-country-code fn-right">+77</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT2"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-ua"></i> Украина
					<strong class="i-country-code fn-right">+380</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT3"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-ge"></i> Грузия
					<strong class="i-country-code fn-right">+995</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT4"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-pa"></i> Панама
					<strong class="i-country-code fn-right">+507</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT5"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-gb"></i>
					Великобритания <strong class="i-country-code fn-right">+44</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT6"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-tj"></i>
					Таджикистан <strong class="i-country-code fn-right">+992</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT7"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-lt"></i> Литва <strong
					class="i-country-code fn-right">+370</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT8"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-il"></i> Израиль
					<strong class="i-country-code fn-right">+972</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT9"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-kg"></i>
					Кыргызстан <strong class="i-country-code fn-right">+996</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT10"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-tr"></i> Турция
					<strong class="i-country-code fn-right">+90</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT11"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-vn"></i> Вьетнам
					<strong class="i-country-code fn-right">+84</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT12"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-az"></i>
					Азербайджан <strong class="i-country-code fn-right">+994</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT13"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-am"></i> Армения
					<strong class="i-country-code fn-right">+374</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT14"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-lv"></i> Латвия
					<strong class="i-country-code fn-right">+371</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT15"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-in"></i> Индия <strong
					class="i-country-code fn-right">+91</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT16"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-th"></i> Таиланд
					<strong class="i-country-code fn-right">+66</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT17"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-md"></i>
					Молдавия <strong class="i-country-code fn-right">+373</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT18"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-ee"></i> Эстония
					<strong class="i-country-code fn-right">+372</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT19"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-jp"></i> Япония
					<strong class="i-country-code fn-right">+81</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT20"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-uz"></i>
					Узбекистан <strong class="i-country-code fn-right">+998</strong>
			</a></li>
			<li><a tabindex="-1" href="javascript:;" seed="jCountryCodeList-linkT21"
				smartracker="on"> <i class="qiwi-flag qiwi-flag-kr"></i> Южная
					Корея <strong class="i-country-code fn-right">+82</strong>
			</a></li>
		</ul>
	</div>
	<input value="+7" name="qiwiCountry" type="hidden">
</div>
<p>
	Вы будете перенаправлены на сайт QIWI, чтобы произвести оплату с вашего QIWI Wallet.<br>
	Внимание: ваша личная информация находится в безопасности. <br>
	TOMTOP не хранит какую-либо информацию о вашей учетной записи.
</p>
<input class="spayOut" type="button" value="Pay Now" tag="submit_button">
