@(frm:Form[forms.member.register.RegisterUpdateForm])
@import views.html.helper._
@helper.javascriptRouter("passwordRoutes")(
	controllers.member.routes.javascript.Register.translatePassword,
	controllers.base.routes.javascript.Captcha.checkCaptcha
)
<div class="xxkBOX boxRa">
@form(controllers.member.routes.Register.addRegister, 'id->"password-form"){
            	<table width="650" cellspacing="0" cellpadding="0" border="0" class="profTab">
            	
                  <tbody><tr>
                    <td>@Messages("email.address")</td>
                    <td>@frm("cemail").value</td>
                  </tr>
                  <tr>
                    <td>@Messages("old.password")</td>
                    <td>
                     <div class="qaListER form-element">
                    <input type="password" id="cpassword" name="cpassword" >
                    <span id="cpassword-error" class="edit_error" ></span>
				    <span class="rightUse"></span>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>@Messages("new.password")</td>
                    <td>
                    <div class="qaListER form-element">
                    <input type="password" id="cnewpassword" name="cnewpassword">
                     <span id="cnewpassword-error" class="edit_error" ></span>
				    <span class="rightUse"></span>
                     </div>
                    </td>
                  </tr>
                  <tr>
                    <td>@Messages("confirm.password")</td>
                    <td>
                   <div class="qaListER form-element">
                    <input type="password" id="ccnewpassword" name="ccnewpassword" >
                     <span id="ccnewpassword-error" class="edit_error" ></span>
				    <span class="rightUse"></span>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>@Messages("word.verification")</td>
                    <td class="yzm">
                    <div class="qaListER form-element">
                    <input type="text" name="captcha" id="findpwd-captcha">
                   	<div class="yzmBox"><img src="@controllers.base.routes.Captcha.generate()" alt="code"  title="@Messages("click.on.the.change")" onclick="change(this);" width="70" height="30"></div>
                    <span id="captcha-error" class="edit_error" ></span>
				    <span class="rightUse"></span>
				    </div>
               </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="changeHs"><input type="submit" value='@Messages("save.changes")' id="psubmit" ></td>
                  </tr>
                </tbody></table>
			}
            </div>
			@services.base.HtmlUtils.misc().addTailOnce{
			
			<script>
					function change(imgObj){
			        	imgObj.src="@controllers.base.routes.Captcha.generate()?date="+new Date().getTime();
			        	$("#findpwd-captcha").val("");
			        	$("#findpwd-captcha").parent().removeClass();
			        	$("#findpwd-captcha").parent().addClass('qaListER form-element');
			        }
			</script>
			}