@(	
		userupdateForm:Form[forms.member.passwordReset.PasswordResetUpdateForm],
		email : String,
		cid : String 
  )
@import views.html.helper._ 
@helper.javascriptRouter("js_emailRoutes")(
) 
@views.html.base.master{
	<!--  主体内容开始  -->
	<article class="common_wrapper">
		<section class="container">
			<h2>@Messages("password.reset")</h2>
			<div class="account_box passwordResets">
				@form(controllers.member.routes.PasswordReset.passwordReset(),'class->"e_form",'id->"resetForm",'autocomplete->"off") {
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>@Messages("new.password"):</td>
							<td>
								<input type="password" id="passwd" name="passwd">
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<ul class="passwordHigh">
									<li class="" id="l">@Messages("low")</li>
									<li class="" id="m">@Messages("medium")</li>
									<li class="paLast" id="h">@Messages("high")</li>
								</ul> 
							</td>
						</tr>
						<tr>
							<td>@Messages("confirm.new.password"):</td>
							<td><input type="password" id="confirm_password" name="confirm_password"><span class="rightUse"></span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<input type="hidden" name="email" value="@email">
            					<input type="hidden" name="cid" value="@cid">
								<input class="blackInput btn" value="@Messages("save")" type="submit">
							</td>
						</tr>
					</tbody>
				</table>
				}
			</div>
		</section>
	</article>
	<!--  主体内容结束  -->
	@services.dodocool.base.HtmlUtils.misc().addTailOnce{
 		<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("js/lib/jquery.validate.min.js")'></script>
		<script  language="javascript" type="text/javascript" src='@controllers.base.routes.Assets.at("js/lib/jquery.metadata.js")'></script>
  		<script  language="javascript" type="text/javascript" src='@controllers.member.routes.Assets.at("js/member/resetpassword.js")'></script>
  }
}
