@(adname: String, adid: String, context: play.mvc.Http.Context) 
@import helpers.Scala2Java8._
@services.base.HtmlUtils.misc(context).addTail{ () =>
<!-- Vizury -->
<script type="text/javascript">
	(function() {
		try {
			var viz = document.createElement("script");
			viz.type = "text/javascript";
			viz.async = true;
			viz.src = ("https:" == document.location.protocol ? "https://www.vizury.com"
					: "http://www.vizury.com")
					+ "/analyze/pixel.php?account_id=@adid";

			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(viz, s);
			viz.onload = function() {
				try {
					pixel.parse();
				} catch (i) {
				}
			};
			viz.onreadystatechange = function() {
				if (viz.readyState == "complete" || viz.readyState == "loaded") {
					try {
						pixel.parse();
					} catch (i) {
					}
				}
			};
		} catch (i) {
		}
	})();
</script>
<!-- End Vizury Code -->
}
