<span class="payFors">@Messages("pay.for")</span>
<img src=" @controllers.payment.impl.routes.Assets.at("/images/payment/westernunion/icon.jpg")" />
<p class="orange">@Messages("3.discount.choose.payment")</p>
<p>
	@Messages("transferring.information.of.tomtop")
	<br>
	@Messages("beneficiary.wei.feng.first.name.wei.last.name.feng")
	<br>
	@Messages("country.china")
</p>
<p>@Messages("after.payment.notice.detailed.payment.following.procedures.tomtop.account")</p>
<p>
	@Messages("login.tomtop.account")
	<br>
	@Messages("click.my.orders")
	<br>
	@Messages("click.pending")
	<br>
	@Messages("click.complete.payment.fill.related.information.verification")
	<br>
	@Messages("clicksubmit.finish.procedures")
</p>
<p>
	<b>@Messages("notice")</b><br>
	@Messages("make.sure.information.above.filled.correctly.completely.payment.westunion.custumers.service.identify.payee")
</p>
<p>
	@Messages("responsible.handling.therefore.total.payment.amount.local.western.union.transfer.money")
</p>