@(orders: Html)

@import views.html.helper._

@views.html.manager.main {
<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected="">Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed" selected="">Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected="">Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected="">Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->  
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							Transaction number <small>Transaction number </small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="/sysadmin">Home</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Transaction number</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<!-- BEGIN PAGE CONTENT-->
				
				<div class="row-fluid" id="productmanager_modle" style="display:none">
					<div id="productExplainEdit_modle">
					</div>
				</div>
				
				@form(controllers.manager.routes.OrderTransaction.search(), 'id->"searchTransactionOrders", 'onsubmit->"return false"){
					<div class="row-fluid">
						<div class="order_ll_select">
							<div class="order_ll_col">
						    	<div class="order_ll_inline">
						        	<p>站点选择</p>
						            	@services.manager.ChooseService.getInstance().website("siteId", null, true)
						        </div>
						    	<div class="order_ll_inline">
						        	<p>支付方式</p>
						            	@services.manager.ChooseService.getInstance().payment("paymentId", "-1")
						        </div>
						        <div class="order_ll_inline">
						        	<p>订单号</p>
									<input name="orderNumber" type="text" placeholder="10000" class="order_ll_txt">
						        </div>
						    </div>
						
							<div class="order_ll_col">
						    	<div class="order_ll_inline">
						        	<p>客户邮箱</p>
						            <input name="email" class="order_ll_txt" type="text"/>
						        </div>
						        <div class="order_ll_inline">
						        	<p>订单日期</p>
						            <input id="orderdatestart" name="start" type="text" data-date-format="dd-mm-yyyy" class="order_ll_date" placeholder="start:"/> -
						            <input id="orderdateend" name="end" type="text" data-date-format="dd-mm-yyyy" class="order_ll_date" placeholder="end:" />
						        </div>
						    </div>
							<input type="hidden" name="pageSize" value="30">
							<input type="hidden" name="pageNum">
						    
						    <div class="order_ll_col">
						    	<div class="order_ll_inline">
						        	<p>&nbsp;</p>
						            <input class="order_ll_Search" id="search_orders_submit" type="button" value="Search" />
						        </div>
							    
							    <div class="order_ll_inline">
						        	<ul class="order_ll_show">
						            	<li>Show</li>
						            	<li><a class="order_ll_aActi" href="javascript:;" tag="pageSize" value="30">30</a></li>
						            	<li><a href="javascript:;" tag="pageSize" value="50">50</a></li>
						            	<li><a href="javascript:;" tag="pageSize" value="100">100</a></li>
						            </ul>
							    </div>
						    </div>
						</div>
					</div>
				}
				<div class="waiting_ll" style="display:none;">
				</div>
				<div class="accountBox">
					<div class="orderBox">
						<div class="xxkDiv">
							<div id="search_orders_html">
								@orders
							</div>
						</div>
					</div>
				</div>
<div id="edit-action-modal" style="width:500px;margin-left:-300px" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form class="form-horizontal" id="theform"  onSubmit="return false;">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h3 id="myModalLabel">交易</h3>
		  </div>
		  <div class="modal-body">
		    <input type="hidden" id="orderid" name="iid" value="" />
			<div class="control-group">
				<table >
					<tr>
						<td class="order_ll_center">订单号   <input type="text" id="ordernum" name="ordernum"  readOnly="true"></td>
					</tr>
					<tr>
						<td class="order_ll_center">交易号 <input type="text" id="transactionId" name="transactionId" maxlength="80"></td>
					</tr>
				</table>
			</div>
		  </div>
		  <div class="modal-footer" style="margin-bottom: -20px;">
			<button class="btn" data-dismiss="modal" aria-hidden="true" id="closeModal">关闭</button>
			<button class="btn blue" onclick="submitTransaction()" >提交</button>
		  </div>
		  </form>
	</div>	
				
				
		</div>	
		<iframe id="ifile" style="display:none"></iframe>
		@services.base.HtmlUtils.misc().addTailOnce{
			<link rel="stylesheet" type="text/css"  href="@controllers.manager.routes.Assets.at("css/manager/ordermanager.css")" />
			<link href="@controllers.manager.routes.Assets.at("css/manager/bootstrap-datetimepicker.css")" rel="stylesheet" type="text/css" media="screen"/>
			<script src="@controllers.manager.routes.Assets.at("lib/requirejs/require.js")" data-main="@controllers.manager.routes.Assets.at("js/manager/ordermanagertransaction")" ></script>
			<script type="text/javascript">
			function editTransaction(iid,onum){
				$("#orderid").val(iid);
				$("#ordernum").val(onum);
			}
			//更新提交
			function submitTransaction(){
				var orderid = $("#orderid").val();
				var transactionId = $("#transactionId").val();
				if($.trim(transactionId) == ""){
					 alert("请输入交易号");
					 return false;
				}
				if($.trim(transactionId).length > 80){
					 alert("交易号过长!");
					 return false;
				}
				var url = '@controllers.manager.routes.OrderTransaction.updateTransaction()';
				var data = JSON.stringify({
					"id":orderid,
					"transactionId":transactionId
				});
				$.ajax({
					url : url,
					type : "POST",
					data : data,
					contentType : "application/json",
					success : function(data) {
						if(data.errorCode == 0){
							alert("更新成功");
							$("#closeModal").trigger("click");
							$("#search_orders_submit").trigger("click");
						} else {
							alert("更新失败");
						}
					}
				}); 
			}
			</script>
		} 
}

