@(orderId: Integer, fgrandtotal: Double, symbol: String)
@import views.html.helper._
<div id="update-orderprice@orderId"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	@form(controllers.manager.routes.Order.updateOrderPrice(), 'onsubmit->"return false"){
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		    <h3>修改订单价格</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">订单编号</label>
				<div class="controls">
					<input type="text" name="corderid" value="@orderId" class="m-wrap medium span6" style="margin-left: 120px;margin-top: -26px;" readOnly>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">订单原价(@symbol)</label>
				<div class="controls">
					<input type="text" name="coldvalue" value="@fgrandtotal" class="m-wrap medium span6" style="margin-left: 120px;margin-top: -26px;" readOnly>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">订单现价(@symbol)<span style="color:red">*</span></label>
				<div class="controls">
					<input type="text" name="cnewvalue" class="price m-wrap medium span6" style="margin-left: 120px;margin-top: -26px;" value="" required>
				</div>
			</div>
		</div>
	    <div class="modal-footer" style="margin-bottom: -20px;">
		     <button type="button" class="btn btn-default" data-dismiss="modal">关闭 </button>
             <button type="submit" class="btn blue">保存</button>
	    </div>
	}
</div>