@charset "utf-8";*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html,body{-webkit-text-size-adjust:none;text-size-adjust:none;height:100%;}
body{line-height:1.4;background:#f5f5f5;overflow-x:hidden}
html,body,input,textarea,select{font-size:14px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#000;outline:none}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,dl,dt,dd{margin:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol{padding-left:0;list-style-type:none}
a img{border:0}
table{border-collapse:collapse;border-spacing:0}
textarea{overflow:auto;vertical-align:top;resize:none}
a{color:#000;text-decoration:none}a:hover{text-decoration:none}
img{vertical-align:middle}
input[type=button]{-webkit-appearance:none;outline:none}
i{font-style:normal;font-weight:normal}
.clear{clear:both;font-size:0;line-height:0;overflow:hidden}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clearfix{display:block;*display:inline-block}
*html .clearfix{height:1%}
.tx-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.shrink{-webkit-transform:scale(0.8);-o-transform:scale(1)}
article,aside,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
.fl{float:left}
.fr{float:right}
.tr{text-align:right}
.tnd{display:inline-block;text-indent:-999em;position:absolute}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}
.pl20{padding-left:20px}
.pl60{padding-left:60px}
.pb5{padding-bottom:5px}
.pb40{padding-bottom:40px}
.mt16{margin-top:16px}
.mt22{margin-top:22px}
.ml40{margin-left:40px}
.mr15{margin-right:15px}
.mr40{margin-right:40px}
.lh55{line-height:55px}
.rel{position:relative}
.tc{text-align:center}
.container,.banner .flexslider,.top-email,.breadcrumb,.pro_wrapper,.sup_wrapper{width:1600px;max-width:1600px;margin:0 auto}
#hotLink li,.sup_pic li,.category li{float:left;width:30%;margin:30px 1% 30px 2%}
#hotLink img,.sup_pic img,.category img,.pro_wrapper_item img,.pro_wrapper_con img,.page_banner img{max-width:100%}
#header{position:fixed;top:0;bottom:0;left:0;right:0;width:100%;z-index:9000;height:100px;margin-bottom:3px;background:url(../images/bg.png) repeat-x;box-shadow:0 2px 4px #c9c9c9}
#header .logo{float:left;width:200px;height:40px;margin:30px 0 0 22px;}
#header .logo a{display:block;width:100%;height:100%}
#header .logo img{width:100%}
.top_menu{float:left;padding:28px 0 0 60px}
.top_menu ul li{display:inline-block}
.top_menu ul li a{display:block;padding:15px 15px 38px 15px;font-size:18px;line-height:20px;text-transform:uppercase}
.top_menu .caret{ position:relative;top:2px;left:6px;display:inline-block;width:18px;height:18px;}
.sub_menu_ul{display:none;position:absolute;z-index:10000;width:100%;padding-left:100px;top:102px;left:0;background:#f1f1f1;opacity:0.8}
.top_menu .sub_menu_ul li a{padding:2px 15px 16px;font-size:14px}
.sub_menu_ul a:hover img{opacity:1}
.sub_menu_ul li img{display:block;margin:8px auto;overflow:hidden;opacity:.6}
.sub_menu_ul .mfi_img{width:40px}
.sub_menu_ul .battert_img,.sub_menu_ul .charger_img,.sub_menu_ul .usb_img{width:50px}
.sub_menu_ul .other_img{width:25px}
.sub_menu_ul .usb_img,.sub_menu_ul .other_img{margin:10px auto}
.sub_menu_ul .cover_img{margin:5px auto}
.banner{margin-top:100px}
.topSearch{float:right;padding:6px 15px 0 0}
.topSearch_search{width:180px}
.input_group,.frm_cont input{position:relative;height:28px;border:1px solid #dadada;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);background:#fff;}
.input_group .form-control{position:absolute;top:1px;left:30px;width:85%;height:25px;line-height:25px;border:0 none}
.input_group:hover{border-color:#000;outline:0;-webkit-box-shadow:inset 0 0 1px #000, 0 0 8px #000;box-shadow:inset 0 0 1px #000, 0 0 8px #000}
.input_group .glass{position:absolute;top:5px;left:5px;width:17px;height:17px;background:url(../images/glass_bg.png) no-repeat;border:0 none;text-indent:-999em;cursor:pointer}
.loginbar a{display:inline-block;padding:12px;text-transform:uppercase}
#menu-btn{display:none;position:absolute;right:30px;top:23px;width:26px;height:22px;background:#777 url(../images/menu-btn.png) no-repeat 50%;background-size:70%;cursor:pointer}
.cartItem{float:right;padding:32px 40px 0 0;overflow:hidden}
.top-email{position:relative;height:38px;}
.top-title{float:left;width:43%;text-align:right}
.top-title span{line-height:38px;color:#fff}
.top-box{float:left;width:352px;margin:7px 0 0 12px;display:inline}
.has-feedback{position:relative;height:24px;border:1px solid #d8d8d8;background:#fff url(../images/email_bg.png) no-repeat 2% 50%;}
.has-feedback .txt{width:70%;margin-left:36px;height:22px;line-height:21px;border:0 none}
.has-feedback .email_btn{position:absolute;right:0;bottom:0;width:62px;height:22px;line-height:22px;text-align:center;background:#606261;color:#f5f6f8;border:0 none;text-transform:uppercase;cursor:pointer}
.triangle{position:absolute;bottom:-12px;left:0;display:inline-block;width:0;height:0;overflow:hidden;line-height:0;font-size:0;vertical-align:middle;border-left:16px solid;border-bottom:12px solid transparent;border-right:0 none;border-top:0 none;_color:#FF3FFF;_filter:chroma(color=#FF3FFF);}
#hotLink a,.sup_pic a{display:block;padding:20px 0 40px;text-align:center}
#hotLink li img,.sup_pic li img{display:inline-block;margin:20px 0}
#hotLink a:hover,.sup_pic a:hover{transition:0.6s}
#footer{padding-bottom:30px;border-top:1px solid #bcbebd;background:#e7e7e7}
#footer .lt{float:left;width:60%;padding:30px 0 0 2%;overflow:hidden}
#footer .list_box{float:left;width:20%;}
#footer .list_box h4{padding-bottom:15px;color:#101010}
#footer .list_box li{line-height:28px}
#footer .rt{float:right;width:35%}
#footer .rt h5{line-height:28px;color:#000}
.lang_box{padding:30px 0}
.follow_b_icn a{display:inline-block;width:50px;height:50px;margin-right:12px}
.follow_b_icn .fb{background:url(/base/assets/anself/fb_img.png) no-repeat;background-size:50px 50px}
.follow_b_icn .tw{background:url(/base/assets/anself/tw_img.png) no-repeat;background-size:50px 50px}
.follow_b_icn .yb{background:url(/base/assets/anself/yb_img.png) no-repeat;background-size:50px 50px}
.follow_b_icn .fb:hover{background:url(../images/fb_hover.png) no-repeat;background-size:50px 50px}
.follow_b_icn .tw:hover{background:url(../images/tw_hover.png) no-repeat;background-size:50px 50px}
.follow_b_icn .yb:hover{background:url(../images/yb_hover.png) no-repeat;background-size:50px 50px}
.dropdown .btn{position:relative;width:200px;height:27px;line-height:27px;border:0 none;background:#fff !important;text-align:left;color:#6f6f6f;padding:0;text-indent:20px;outline:none;cursor:pointer}
.dropdown .menu{display:none;position:absolute;top:35px;left:0;width:100%;text-align:center;background:#fff}
.dropdown .menu li{padding:3px 0}
.dropdown .caret{position:absolute;right:12px;top:10px;display:inline-block;width:0;height:0;border-top:7px solid #6f6f6f;border-right:4px solid transparent;border-left:4px solid transparent}
.copyright{height:50px;border-top:1px solid #bdbdbd}
.copyright p{padding:15px 0;text-align:center;color:#636260}
.modal-backdrop{position:fixed;top:0;bottom:0;left:0;right:0;filter:alpha(opacity=60);opacity:.6;background:#000;z-index:1}
.modal{position:fixed;top:50%;left:50%;width:480px;height:402px;margin:-201px 0 0 -240px;z-index:2}
.modal-content{position:relative;border:1px solid #999;border-radius:6px;background:#fff}
.modal-header,.modal-body{padding:15px;border-bottom:1px solid #e5e5e5}
.close{float:right;text-shadow:0 1px 0 #fff;font-size:24px;background:none}
.btn{display:inline-block;padding:8px 12px;border-radius:2px;font-size:14px}
.close,.btn{cursor:pointer;-webkit-appearance:none;color:#fff;outline:none;border:none}
.modal-tilte{padding:10px 0 10px 10px;background:#05a9b2;color:#fff}
.modal-footer{padding:15px;text-align:right}
.modal-backdrop,#boxModal{display:none}
.modal-content .main_in_box{min-height:400px;padding:20px 60px 0}
.modal-content .main_in_box label{width:auto;margin-bottom:3px}
.change_modal .close{color:#000;margin:2px 2px 0 0}
@media (max-width:1600px){.container{width:auto;margin:0 30px}
.banner .flexslider,.top-email,.breadcrumb,.pro_wrapper,.sup_wrapper{width:auto !important}
#footer .lt{padding-left:0}
.pro_wrapper .buyamazon{margin-bottom:33px}
.pro_wrapper .learn_more{margin:55px 55px 55px 0}
.pro_wrapper_item .left-pro{padding:20px 5px}
.pro_wrapper_con .og_prev,.pro_wrapper_con .og_next{margin-top:60px}
}
@media (max-width:1460px){.left-pro .items{margin:0 0 34px}
.pro_wrapper_con .og_next{margin-right:76px}
.pro_wrapper .special_lt{width:40%}
.pro_wrapper .detail_rt{width:60%}
}
@media (max-width:1300px){.special_lt .left-pro .t1{padding-left:0}
.special_lt .left-pro .t2{padding:0}
.pro_wrapper .same .pic-con{margin-left:0}
.pro_wrapper .special_lt{width:100%}
.pro_wrapper .detail_rt{width:100%;border-left:1px solid #ddd;border-top:none;padding:30px}
.pro_wrapper .category_con .lt,.pro_wrapper .category_con .rt{width:100%}
.topSearch{width:auto}
.pro_wrapper .main .pro_img{height:230px}
}
@media (max-width:1140px){.special_lt .left-pro .t1,.special_lt .left-pro .t2{padding-left:30%}
.MagicZoomBigImageCont,.MagicZoomPup{display:none !important}
.common_wrapper .account_box{width:auto}
}
@media (max-width:996px){#footer{height:auto;padding-bottom:30px}
#footer .lt,#footer .rt{float:none;width:auto;padding-left:0}
.pro_wrapper_item .pro_wrapper .main{float:none;width:100%}
.pro_wrapper_item .pro_wrapper .main_inner{margin-right:0}
.pro_wrapper_item .pro_wrapper .side{float:none;width:100%;margin:0}
.side_list_con{text-align:center}
.side_list_con p{text-align:left}
.pro_nav{margin:0 !important}
.pro_wrapper .learn_more,.pro_wrapper .buyamazon{margin:15px 10px 0 0}
.txt-con{padding-top:10px}
.cartItem{float:none;padding:32px 0 0 0}
#tableBody .dr-info a{width:190px;word-break:break-all;white-space:inherit}
}
@media (max-width:846px){#header .logo,.pro_wrapper .user_side,.pro_wrapper .user_main{float:none;margin:0}
.topSearch,.top_menu{float:none;padding:10px 0 0 0}
.top_menu,.sub_menu_ul li b,.top_menu b.caret{display:none}
#menu-btn,.top_menu>ul>li,.top_menu ul li{display:block !important}
.top_menu>ul>li>a{display:none;padding:10px;color:#666;background:#ccc;font-size:16px;border-bottom:1px solid #fff}
.sub_menu_ul{position:inherit;width:100%;padding:0;top:0;left:0;display:block !important;background:#ccc;opacity:1}
.sub_menu_ul li a{float:none;padding:5px 20px !important;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(0,0,0,0.1)}
.sub_menu_ul li img{display:none}
.account_box,.category_con .rt li{width:auto !important}
.user-info li{float:left;margin:0 10px}
.topSearch_search{width:100%}
.cartItem{float:none;padding:12px 0 0 0}
.cartItem a{width:100%}
.loginbar{position:absolute;top:15px;right:65px}
#header{height:150px !important;background-size:100% 150px}
.banner,.common_wrapper,.breadcrumb{margin-top:150px !important}
.common_wrapper .check_inner{display:block;padding-left:0;}
.pro_wrapper .main .pro_dl{height:350px}
.pro_wrapper .main .pro_img{height:190px}
#header .logo{width:115px;height:40px;margin:13px 0 0 -10px}
}
@media (max-width:736px){.top-email{height:62px}
.top-title{float:none;width:auto;text-align:left}
.top-title span{font-size:12px;padding-left:12px}
.top-box{margin-top:-6px}
.pro_wrapper .main .pro_dl,.pro_wrapper .same .pic-con,.pro_wrapper .same .txt-con{float:none;width:100%;padding:0;height:400px;}
.pro_wrapper .main .pro_img{height:296px}
.pro_img img{height:268px !important}
.pro_wrapper_item .pro_info{text-align:center;padding:0 20px}
.lang_box{clear:both}
.pro_wrapper .pro_nav{height:auto}
.tab_box .pic-con,.tab_box .txt-con{width:100%;padding:0 0 30px 0}
.pro_wrapper .tab_box .dis,.special_lt .left-pro .t1,.special_lt .left-pro .t2{padding-left:0}
.account_box .frm_cont label{text-align:left}
#first div,#first iframe,#first table{left:0 !important;}
div#first > div{height:350px;top:-150px !important}
#carousel.like_box,#first img{display:none}
#tableBody .img-responsive{width:60px}
#tableBody .dr-info a{width:80px}
.side .pro_img img{height:inherit !important}
.common_tips .common_tips_con{border:0 none;padding:0;margin:140px 0 0 0;}
}
@media (max-width:548px){.tab_box .rew-title,.tab_box .rew-info{padding-left:12px;padding-right:12px}
.rew-date a{display:block}
.top-email{display:none}
.pro_wrapper .side .pro_img{float:none;width:100%}
.common_wrapper .about_sidebar{float:none;width:100%;padding-top:50px;min-height:340px}
}
@media (max-width:486px){.top-box{width:288px}
.shoppingCart_con .shopping_none em,.table-responsive td:nth-child(2){display:none !important;}
.pro_wrapper_item .special_lt img{margin:1px}
#footer .list_box{width:100%;padding-bottom:20px}
.special_lt .main_img,.MagicZoom{width:350px !important;height:350px !important}
#hotLink li,.sup_pic li,.category li{float:none;width:70%;margin:30px auto}
.user_main .main_in_box{padding:0}
.user_main .main_in_box .info{padding:30px 0 10px}
.category_con .publicCon{float:left}
.category_con .publicCon .publicPrice{position:inherit}
.category_con .publicCon .publicPrice strong{display:inline-block}
.goods_info_box .goods_info_img{width:266px;height:272px;margin:0}
.goods_info_img img{max-width:270px !important}
.shoppingCart_con .shopping_none{padding-left:0 !important}
}

.flex-control-paging li a.flex-active,.top-email,.pagination .current,.common_tips .back a:hover,.deletePop input:hover,.btn{background:#8E2323 !important;}

.login_up a,.gmail,.no_sign_notice a,.down_center ul a,.about_list h3,.breadcrumb a,.pro_main_list .hd strong,.pro_wrapper_item .side .hd,.common_wrapper h2,.sup_wrapper h2,.support-contact a,.shoppingCart_con .shopping_none p a,.drivers a,.rew-date a,.ajax_insert dt a,.ajax_insert .comment_reply,.comment_reply_date{color:#8E2323 !important;}

.side .pro_dl:hover,.pro_wrapper_item .hd,.color-icon,.list-tab .active a,.tab_ul{ border-color:#8E2323 !important;}

#hotLink a:hover,.sup_pic a:hover{box-shadow:0 0 8px #000 !important;}
.triangle{ border-left-color:#8E2323 !important; }
#footer{ background: #8E2323 !important; }
#footer .list_box h4,#footer .rt h5{ color: #fff }
.list_box a{ color: #999 }
.flex-control-paging li a.flex-active{box-shadow:inset 0 1px 0 1px #8E2323 !important}
.pro_wrapper_item .side .hd{ background-color: #f7f7f7 !important }
.flexslider .slides img{ height: 680px; }
#hotLink{ display: none !important }