.qty_num .qty_nums {width: 60px !important;}
.qty_num .qty_nums #cart-button-qty {width: 60px !important;}
.rightPaly_addToCart{padding-left:40px !important;}
.accountBox .myReviewsList li{width:280px !important;}