@(
memberAddresses :List[ dto.member.MemberAddress],
ct : Map[Integer, dto.Country]
)
@import services.base._
@import services.base.utils._

@import views.html.helper._
@views.html.base.sub_master("Shipping Address"){
@services.base.HtmlUtils.misc().addHeadCssOnce{
 	@controllers.base.routes.Assets.at("css/shippingAddress_page.css")
}

<div class="container bg_color_gray marT_6">
	<div class="address_con_W lineBlock">
		<h5>Shipping Address</h5>
		@if(null!=memberAddresses&&memberAddresses.size>0){
				@memberAddresses.map{a=>
				@address_varchar(a,ct)
			}
		}
		
		<div class="add_address">
			<label class="popBoxFilter block"><span class="add_addressIco"> </span><p class="add_addressTxt">Add a Shipping address</p></label>
			@address_form(1)
		</div>
		
	</div>
</div>
}