@(clientid: String, remoteHost: String, redirectUri: String)
<form action="@controllers.member.routes.Login.saveReferrerBeforeLogin("https://"+remoteHost+"/webapps/auth/protocol/openidconnect/v1/authorize")" method="GET"  class="logIcon lineBlock">
<input type="hidden" name="client_id" value="@clientid" />
<input type="hidden" name="response_type" value="code" />
<input type="hidden" name="scope" value="openid email" />
<input type="hidden" name="redirect_uri" value="@redirectUri" />
<input class="lineBlock log_Paypal" type="submit" value="" />
</form>