body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:30px;
  width:482px;
  height:67px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:67px;
}
#u1 {
  position:absolute;
  left:2px;
  top:26px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
