@(dropShipLevels: List[dto.member.DropShipLevel])
@import views.html.helper._
@views.html.member.base.master("dropshipjoin") {
	@services.base.HtmlUtils.misc().addHeadOnce{
		<link rel="stylesheet" href="@controllers.base.routes.Assets.at("css/styles.css")?@version.BuildVersion.build()" /> 
	}
	<div class="accountRight dropshipBox affiliateBox">
    	<h6>@Messages("join.dropshipping")</h6>
        <b class="fon14">@Messages("your.request.is.pending.approval.when.your.request.is.approved.we.will.send.you.an.email")</b>
        
        <p>@Messages("also.we.always.provide.different.discount.rate.for.different.drop.shipping.member.level.we.calculate.the.total.amounts.of.your.drop.shipping.account.and.classify.levels.according.to.the.table.below")</p>
        <div class="policy_DIV lbBox">
        	<ul class="lineBlock">
            	<li>@Messages("grades")</li>
            	<li>@Messages("total.order.amount")</li>
            	<li>@Messages("discount.off")</li>
            	<li>@Messages("service.fee.transaction.fee.monthly")</li>
            	<li>@Messages("you.can.add.update.products.in.catalog")</li>
            	<li>@Messages("download.product.images")</li>
            	<li>@Messages("enjoy.dropship.price")</li>
            </ul>
            @dropShipLevels.map{ i=>
	        	<ul class="lineBlock">
	            	<li>@i.getClevelname()</li>
	            	<li> >$ @i.getFtotal()</li>
	            	<li>@String.format("%3.1f", double2Double({i.getDiscount()*100}))%</li>
	            	<li>@Messages("free")</li>
	            	<li>@i.getIproductcount()</li>
	            	<li>@Messages("yes")</li>
	            	<li>@Messages("yes")</li>
	            </ul>
            }
	    </div>
        <p class="marT">@Messages("although.you.are.not.a.for.drop.shipping.client.yet.you.can.also.place.a.general.order.on.tomtop.com")</p>
         <ul class="shippingBenefit dropPub">
            <li><em>1</em><span>@Messages("no.joining.fee")</span></li>
            <li><em>2</em><span>@Messages("off.you.get.rewarded.the.more.you.order.as.your.total.order.history.increases.you.automatically.get.better.discount.levels.making.you.even.more.competitive")</span> </li>
            <li><em>3</em><span>@Messages("become.a.worldwide.e.commerce.retailer.at.a.low.cost.with.no.risk")</span></li>
            <li><em>4</em><span>@Messages("xclusive.drop.shipping.weekly.deals.newsletter")</span></li>
            <li><em>5</em><span>@Messages("offer.a.wide.selection.of.products.without.the.need.to.purchase.or.store.inventory")</span></li>
            <li><em>6</em><span>@Messages("select.product.types.on.tomtop.com.and.determine.your.own.retail.prices.and.profit")</span></li>
            <li><em>7</em><span>@Messages("have.your.products.packaged.and.shipped.to.your.customers.by.us.at.no.extra.cost")</span></li>
        </ul>
        <a class="hs_A" href="@controllers.base.routes.Home.home()">@Messages("go.shopping.as.a.tomtop.client")</a>
    </div>
}

