body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:801px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:94px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:40px;
  width:200px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:54px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:270px;
  top:60px;
  width:120px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:410px;
  top:60px;
  width:110px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:570px;
  top:15px;
  width:260px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:264px;
  height:39px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:561px;
  top:50px;
  width:279px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:642px;
  top:26px;
  width:48px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:52px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:720px;
  top:26px;
  width:70px;
  height:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:110px;
  width:800px;
  height:210px;
}
#u17_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:214px;
}
#u18 {
  position:absolute;
  left:2px;
  top:89px;
  width:796px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:330px;
  width:800px;
  height:40px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:44px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:420px;
  top:340px;
  width:200px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:630px;
  top:340px;
  width:80px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:31px;
}
#u25 {
  position:absolute;
  left:50px;
  top:390px;
  width:240px;
  height:150px;
}
#u25_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:154px;
}
#u26 {
  position:absolute;
  left:2px;
  top:59px;
  width:236px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:330px;
  top:390px;
  width:240px;
  height:150px;
}
#u27_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:154px;
}
#u28 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:611px;
  top:390px;
  width:240px;
  height:150px;
}
#u29_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:154px;
}
#u30 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:50px;
  top:557px;
  width:800px;
  height:211px;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:215px;
}
#u33 {
  position:absolute;
  left:2px;
  top:98px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:738px;
  width:800px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:34px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:796px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:71px;
  top:577px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:196px;
  top:577px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:460px;
  top:577px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:602px;
  top:577px;
  width:236px;
  height:130px;
}
#u42_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:240px;
  height:134px;
}
#u43 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:71px;
  top:614px;
  width:115px;
  height:15px;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:119px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:71px;
  top:639px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:71px;
  top:664px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:72px;
  top:689px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:146px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:196px;
  top:614px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:196px;
  top:639px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:322px;
  top:614px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u56_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:460px;
  top:614px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u58_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:460px;
  top:639px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u60_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:460px;
  top:664px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:460px;
  top:689px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u64_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:619px;
  top:581px;
  width:147px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:619px;
  top:597px;
  width:200px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:28px;
}
#u68_input:disabled {
  color:grayText;
}
#u69 {
  position:absolute;
  left:796px;
  top:624px;
  width:54px;
  height:63px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:63px;
}
#u70 {
  position:absolute;
  left:2px;
  top:24px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:619px;
  top:642px;
  width:58px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:619px;
  top:658px;
  width:176px;
  height:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:48px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:322px;
  top:577px;
  width:108px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:350px;
  top:290px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:380px;
  top:290px;
  width:20px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:410px;
  top:290px;
  width:20px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:440px;
  top:290px;
  width:20px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:470px;
  top:290px;
  width:20px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
