@import views.html.helper._
@import services.search.criteria._
@sc = @{play.mvc.Http.Context.current().args.get("searchContext").asInstanceOf[valueobjects.search.SearchContext]}


@helper.javascriptRouter("jsSuggest")(controllers.search.routes.javascript.ProductSearch.suggest)
@qoption = @{if(sc != null){sc.extractFirst(classOf[KeywordSearchCriteria])}else{play.libs.F.Option.None}}

 	@form(controllers.search.routes.ProductSearch.search(),
 		'class->"topSearch_search", 'role->"search", 'autocomplete->"off") {
		<input id="search_txt" type="text" class="search_txt" name="q" placeholder="@Messages("search")"
			value="@qoption.asScala.map(k=>k.getKeyword())">
		<input class="blackInput" type="submit" id="search" value="@Messages("search")" />
		 <ul class="topSearch_hidden" id="suggeste_list">
              	<li>@Messages("hot.search")</li>
         </ul>
	}

@services.base.HtmlUtils.misc().addTailOnce{

	

<script>


			function highlightkey(keyword,key){
             
				var reg = new RegExp(key)
				var word=keyword.match(reg);
				var heightword='<strong  style="color:#ff6600">'+word+'</strong>';
				return word!=null?keyword.replace(word,heightword):keyword;
				

			}
          
			$('#suggeste_list').on("click", 'li[role=list]', function(ev){
				
				var target=ev.target;
				var suggested = $(target).data("keywords");
				if (suggested) {
					var text = $(target).parent().siblings(".search_txt");
					text.val(suggested);
					text.closest("form").submit();
				}
		        
				
			});
			
			$(".search_txt").focus(function(){
				$(this).siblings(".topSearch_hidden").css({"display":"block"})
			})
		
			$(".topSearch_search").on("keyup focus",".search_txt",
					function(e) {
						var text = $(this);
						var kw = text.val();
						 $.get(jsSuggest.controllers.search.ProductSearch.suggest(kw).url,
									function(data) {
										var ul = text.siblings(".topSearch_hidden");
										var li_first = ul.find("li").first();
										li_first.siblings("li").remove();
										$.each(data, function(i, s){
											var $item=$("<li  role='list' data-keywords='"+s.keywords+"'>"
													+highlightkey(s.keywords,kw)+"<span style='float: right'>"+s.results+"</span></li>");
										
											ul.append($item);
										});
										ul.show();
						});
						     
					});
	       $(".topSearch_search").on("blur",".search_txt",function(e) {
			        $(this).siblings(".topSearch_hidden").fadeOut();
		   });
			
	       $("#search").click(function(){
	    	   var text = $("#search_txt").val();
	    	   text = text.replace(/(^\s*)|(\s*$)/g,"");
	    	   if(text == ""){
	    		   return false;
	    	   } else{
	    		   $("#search_txt").val(text);
	    	   }
	       })
		
</script>
}
