@(vo: valueobjects.order_api.payment.PaymentContext,
 historyMap: Map[String, dto.order.OrderStatusHistory],
 orderDetail: Html,
 payment: extensions.payment.IPaymentProvider,
 dateUtil: services.base.utils.DateFormatUtils,
 idMap: Map[Integer, dto.order.OrderStatus]
)

@order = @{vo.getOrder().getOrder()}

@import services.order.IOrderStatusService

<h6>@Messages("order.detail")</h6>

<ul class="detailTT">
	<li>@Messages("order.number") <b class="blue">@order.getCordernumber</b></li>
	<li>@Messages("order.status") <b class="blue">@idMap.get(order.getIstatus()).getCname()</b></li>
	@**<li class="detailDY"><a href="javascript:;"><em></em>@Messages("commercial.invoice")</a></li>**@
</ul>

<ul class="orderStatus">
	<li class="statusAcc">
		<p>
			<span>@Messages("order.submitted")</span><br>
			@dateUtil.getDate(order.getDcreatedate())
		</p>
	</li>	
	@confirmed = @{historyMap.get(IOrderStatusService.PAYMENT_CONFIRMED)}
	@p_processing = @{historyMap.get(IOrderStatusService.PAYMENT_PROCESSING)}
	<li @if(confirmed == null && p_processing == null){class="statusError"}else{class="statusAcc"}>
		<ol></ol>
		<p>	
			@if(confirmed == null && p_processing == null){
				<span>@Messages("payment.declined")</span>
			}
			@if(confirmed != null){
				<span>@Messages("payment.success")</span>
				<br>
				@dateUtil.getDate(confirmed.getDcreatedate())
			}
			@if(p_processing != null && confirmed == null){
				<span>@Messages("payment.processing")</span>
				<br>
				@dateUtil.getDate(p_processing.getDcreatedate())
			}
		</p>
	</li>
	@processing = @{historyMap.get(IOrderStatusService.PROCESSING)}
	<li @if(confirmed != null){@if(processing == null){class="statusError"}else{class="statusAcc"}}>
		<ol></ol>
		<p>	
			<span>@Messages("order.processing")</span><br>
			@if(processing != null){
				@dateUtil.getDate(processing.getDcreatedate())
			}
		</p>
	</li>
	@dispatched = @{historyMap.get(IOrderStatusService.DISPATCHED)}
	<li @if(processing != null){@if(dispatched == null){class="statusError"}else{class="statusAcc"}}>
		<ol></ol>
		<p>
			<span>@Messages("shippied")</span><br>
			@if(dispatched != null){
				@dateUtil.getDate(dispatched.getDcreatedate())
			}
		</p>
	</li>
	@completed = @{historyMap.get(IOrderStatusService.COMPLETED)}
	<li @if(dispatched != null){@if(completed == null){class="statusError"}else{class="statusAcc"}}>
		<ol></ol>
		<p>
			<span>@Messages("completed.orders")</span><br>
			@if(completed != null){
				@dateUtil.getDate(completed.getDcreatedate())
			}
		</p>
	</li>
</ul>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="orderINFs">
	<tbody>
		<tr>
			<th>@Messages("order.information")</th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>@Messages("customer.name")</td>
			<td>@order.getCfirstname() @order.getClastname()</td>
		</tr>
		<tr>
			<td>@Messages("shipping.addresss")</td>
			<td>
				@order.getCstreetaddress() &nbsp&nbsp
				@order.getCcity() &nbsp&nbsp
				@order.getCprovince() &nbsp&nbsp
				@order.getCcountry() &nbsp&nbsp
				@order.getCpostalcode() &nbsp&nbsp
				@order.getCtelephone() &nbsp&nbsp
			</td>
		</tr>
		<tr>
			<td>@Messages("shipping.method")</td>
			<td>@if(vo.getShippingMethod() != null){@vo.getShippingMethod().getCtitle()}</td>
		</tr>
		<tr>
			<td>@Messages("order.placed.date")</td>
			<td>@services.base.utils.DateFormatUtils.getStrFromYYYYMMDDHHMMSS(order.getDcreatedate())</td>
		</tr>
		@if(dispatched != null) {
			<tr>
				<td>@Messages("shipped.date")</td>
				<td>@services.base.utils.DateFormatUtils.getStrFromYYYYMMDDHHMMSS(dispatched.getDcreatedate())</td>
			</tr>
		}
		@if(order.getCmessage()!= null) {
			<tr>
				<td>@Messages("your.message")</td>
				<td>@order.getCmessage()</td>
			</tr>
		}
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="orderINFs">
	<tbody>
		<tr>
			<th>@Messages("payment.information")</th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>@Messages("payment.method")</td>
			<td>
			@if(payment!=null){
				<img src="@payment.iconUrl()">@payment.name()
			}
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

@orderDetail